v9.json
{"name": "Ziyada Blogs and Newsletter Content Writer", "nodes": [{"parameters": {"rule": {"interval": [{"field": "weeks", "triggerAtHour": 21, "triggerAtMinute": 4}]}}, "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [880, -144], "id": "038bfe42-a2d2-4558-ac2b-fdfc8394803c", "name": "Schedule Trigger", "disabled": true}, {"parameters": {"model": "google/gemma-4-26b-a4b-it", "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [1760, 272], "id": "22e21366-c3a6-46d3-8da5-5e4b0f1fa660", "name": "OpenRouter Chat Model", "credentials": {"openRouterApi": {"id": "7lgtW78BPjg09egV", "name": "OpenRouter 2026"}}}, {"parameters": {"schemaType": "manual", "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"title\", \"topics\"],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A short, descriptive title\"\n    },\n    \"topics\": {\n      \"type\": \"array\",\n      \"description\": \"An array of exactly three topics\",\n      \"minItems\": 3,\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"additionalProperties\": false\n}"}, "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [1568, 272], "id": "33069c76-a619-49cd-9d8b-a51333750673", "name": "Structured Output Parser"}, {"parameters": {"fieldToSplitOut": "output.topics", "options": {}}, "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [1536, 80], "id": "019fc682-2268-4c49-8543-633961a06d34", "name": "Split Out"}, {"parameters": {"fieldsToAggregate": {"fieldToAggregate": [{"fieldToAggregate": "output"}]}, "options": {}}, "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [2320, 80], "id": "f9c3cbb8-7c99-40df-96b7-4f114f7e3eb7", "name": "Aggregate"}, {"parameters": {"model": "google/gemma-4-26b-a4b-it", "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [1936, 272], "id": "780e2b77-7533-4938-9c14-bbc263588e4b", "name": "OpenRouter Chat Model1", "credentials": {"openRouterApi": {"id": "7lgtW78BPjg09egV", "name": "OpenRouter 2026"}}}, {"parameters": {"promptType": "=define", "text": "=Title: <br>{{ $('Planning Agent main topics for this newsletter').item(0).json.output[0].title }}<br>Sections: <br>{{ $('Aggregate').item(0).json.output.join(\"\\n\\n\\n\") }}\n\nSections: {{ $json.output.join(\"\\n\\n\\n\") }}\n", "hasOutputParser": true, "options": {"systemMessage": "=# Overview\nYou are an expert newsletter editor. Merge exactly three provided sections into a cohesive, email-ready HTML body with a holistic introduction and conclusion. Maintain a professional, concise tone for a business audience and preserve intended meaning.\n\n## Goals\n- Refine clarity, flow, and consistency across all sections.\n- Keep total content output \u2264 1000 words (hard limit). Avoid fluff.\n\n## Structure (HTML only)\n1) <p> Introduction that frames the three topics and their relevance; reference today\u2019s date: {{ $now.format('yyyy-MM-dd') }}.\n2) For each provided section:\n   - <h2> Use or lightly adjust the given title.\n   - Edited <p> content.\n   - Inline, clickable citations near related claims using <a href=\"https://...\">Source</a>. Never invent sources.\n3) <h3>Sources</h3><ul> A single consolidated list:\n   - Each item: <li><a href=\"[URL]\">[Publication Name] \u2013 [Article Title]</a></li>\n   - Include full URLs, deduplicate identical links, and alphabetize by Publication Name.\n4) <p> Conclusion tying threads together with implications or next steps.\n\n## Citation and Link Rules\n- Every factual claim relying on external information must include a real, verifiable, clickable URL.\n- Preserve any provided citations; standardize to the <a> format.\n- Omit unverifiable links rather than fabricate.\n- Use only basic HTML tags (<h2>, <h3>, <p>, <ul>, <li>, <a>). No images, scripts, styles, or external CSS.\n\n## Input\n- You will receive three sections. Edit and integrate them without adding unrelated topics.\n\nOutput Format (return only this)\nSubject: One clear, specific subject line (\u2264 80 characters)\n\nContent:\n[HTML body only as specified above]\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [2480, 80], "id": "b3f97473-addd-4b6d-823d-133a0b5ce0c4", "name": "Editor Agent"}, {"parameters": {"schemaType": "manual", "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"the newsletter content\"\n    }\n  },\n  \"required\": [\"subject\", \"content\"]\n}\n"}, "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [2128, 272], "id": "f44ad168-1f05-4818-b643-d993ec53725d", "name": "Structured Output Parser1"}, {"parameters": {"resource": "draft", "subject": "=Ziyada: {{.output.subject}}", "emailType": "html", "message": "={{.output.content_ar}}", "options": {"sendTo": "ziyadasystem@gmail.com"}}, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [2848, 80], "id": "75f7bb38-7b31-4310-abeb-d4da53bd1f6f", "name": "Create a draft", "webhookId": "631942e2-3370-4f03-a546-94e4a3a87b55", "credentials": {"gmailOAuth2": {"id": "z7EaXOPymX2CUhPa", "name": "ali biggy afGmail account"}}}, {"parameters": {"content": "# \ud83e\udde0 AI-Powered Newsletter Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to generate a research-backed newsletter with agents and automation:\n\n### \u2705 Step 1: Choose Your Schedule  \nOpen the **Schedule Trigger** and set the time you'd like this workflow to run. This controls when your newsletter will be auto-generated.\n\n### \u2705 Step 2: Connect Your [Tavily](https://www.tavily.com/) API Key  \nAdd your Tavily key to the two Tavily nodes. These nodes power the research phase of your newsletter.\n\n### \u2705 Step 3: Set Your Newsletter Topic  \nIn the **Initial Research** node, enter the topic you'd like researched in the **Query** field. This tells Tavily what to research, and it is what the agents will write about.\n\n### \u2705 Step 4: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the three agents that handle writing and formatting. Add your key via the OpenRouter Chat Model nodes.\n\n### \u2705 Step 5: Link Your Gmail  \nConnect your Gmail credentials so the final draft can be emailed to you\u2014or anyone else you choose.\n\n### \u2705 Step 6: Activate the Workflow  \nOnce you're ready to go, set the workflow to **active** so it automatically runs based on your scheduled trigger.\n\n### \ud83d\udca1 Final Step: Test & Refine  \nRun the workflow and experiment with prompts to adjust tone, formatting, or how sources are presented. In the final part of the video, Nate shares tips for improving and scaling this workflow further.\n", "height": 752, "width": 752}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [0, 0], "id": "b5a8c83d-095f-4b32-890b-57a95a5fc313", "name": "Sticky Note"}, {"parameters": {"content": "## Trigger\nSet cadence", "height": 224, "width": 208, "color": 7}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [768, 0], "id": "c13aa4c3-75b0-4a89-832d-c3d0268bfc15", "name": "Sticky Note1"}, {"parameters": {"content": "Set your newsletter topic in the \"query\" field", "height": 224, "color": 5}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [992, 0], "id": "5a020501-4a7d-4e9d-befc-3eb726429e82", "name": "Sticky Note2"}, {"parameters": {"content": "## Generating Title & Topics", "height": 224, "width": 448, "color": 4}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1216, 0], "id": "93909177-2e40-4fe4-b8ff-32f47069c706", "name": "Sticky Note3"}, {"parameters": {"content": "## Writing Newsletter Sections", "height": 224, "width": 448, "color": 6}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1680, 0], "id": "f3ba6176-e188-40c5-96cf-ee0e4553f661", "name": "Sticky Note4"}, {"parameters": {"content": "## Editing Final Copy", "height": 224, "width": 592, "color": 2}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [2144, 0], "id": "f019215f-4626-41a4-a589-f224f982cd78", "name": "Sticky Note5"}, {"parameters": {"content": "", "width": 832, "color": 7}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1472, 240], "id": "655ba34b-75b3-4d68-92a6-e57a9f841ec7", "name": "Sticky Note6"}, {"parameters": {"content": "## Send Draft", "height": 224, "width": 224}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [2752, 0], "id": "00eac1d2-bc19-45b6-a7b1-8ccff8c12011", "name": "Sticky Note7"}, {"parameters": {"query": "={{ $json['output.topics'] }}", "options": {"time_range": "month", "include_raw_content": true}}, "type": "@tavily/n8n-nodes-tavily.tavily", "typeVersion": 1, "position": [1712, 80], "id": "e5d1c6a9-e31f-472a-8aca-81d3eaa8b6e6", "name": "Search", "credentials": {"tavilyApi": {"id": "EaFj1cM9j82UBR81", "name": "Tavily account"}}}, {"parameters": {"query": "=AI adoption for businesses ", "options": {"topic": "news", "time_range": "week"}}, "type": "@tavily/n8n-nodes-tavily.tavily", "typeVersion": 1, "position": [1040, 80], "id": "e96d114c-0cc3-4092-9103-aeafe1765a9c", "name": "search news topics", "credentials": {"tavilyApi": {"id": "EaFj1cM9j82UBR81", "name": "Tavily account"}}}, {"parameters": {"promptType": "define", "text": "={{ $json.results.map(item => JSON.stringify(item, null, 2)).join('\\n\\n') }}\n", "hasOutputParser": true, "options": {"systemMessage": "=# Overview\nYou are an expert newsletter planner. You will receive top news articles from the past week. Your job is to come up with a creative and fun title as well as the main topics for this newsletter. \n\n## Instructions\nThe newsletter should flow nicely, feel informative, and holistic. The topics should be 3-5 words. \n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [1248, 80], "id": "df12d3ac-12ba-496f-b903-22afb932625a", "name": "Planning Agent main topics for this newsletter"}, {"parameters": {"promptType": "define", "text": "=Topic: {{ $json.query }}\n\nResearch:\n{{ $json.results.map(item => JSON.stringify(item, null, 2)).join('\\n\\n') }}\n", "options": {"systemMessage": "=# Role: Ziyada System Content Strategist & Writer\nYou are the lead content architect for \"Ziyada System\" (\u0632\u064a\u0627\u062f\u0629 \u0633\u064a\u0633\u062a\u0645). Your mission is to transform raw search data into high-value, expert-led newsletters and blog posts that drive business growth through AI automation and digital excellence.\n\n## Brand Identity & Voice (Ziyada DNA)\n- **Core Value:** \u0627\u0644\u0634\u0631\u0627\u0643\u0629 (Partnership) \u2014 We grow alongside our clients.\n- **Tone:** Professional, Visionary, Actionable, and Authoritative.\n- **Visual Palette (Mental Context):** Deep blue (#0f172a), Electric Blue (#3b82f6), and Purple (#8b5cf6). \n- **Language:** Primary: Arabic (Professional/Modern Standard). Secondary: English (for technical terms/global context).\n\n## Your Workflow: From Topic to Multi-Channel Output\nYou receive the \"Latest Best Topic\" from the Search Node. Your task is to produce a 3-part content package:\n\n### 1. The Strategy (Internal thoughts)\n- Identify the \"Ziyada Angle\": How does this topic connect to AI Automation, Business Growth, or Efficiency?\n- Define the primary value proposition for the Ziyada audience.\n\n### 2. The Newsletter (Email Draft)\n- **Subject Line:** Hook-driven, professional, and curiosity-piquing.\n- **Hook:** Start with a current trend or problem.\n- **Body:** 3-4 concise, high-impact sections. \n- **The \"Ziyada Insight\":** One paragraph explaining exactly how to automate or optimize this using Ziyada's philosophy.\n- **Call to Action (CTA):** Lead them back to the blog or a booking link.\n\n### 3. The Blog Post (Website/Supabase Ready)\n- **Title:** SEO-optimized title (Arabic & English).\n- **Excerpt:** A 2-sentence summary for the preview card.\n- **Structure:** \n  - Introduction (The Challenge)\n  - Deep Dive (The Solution/Trends)\n  - Implementation (The \"How-to\" with AI)\n  - Conclusion (The Future)\n- **Meta-Data:** Suggested tags and category.\n\n## Technical Constraints & Formatting\n- **Formatting:** Use clean Markdown. Use `H2` and `H3` for sections.\n- **Citations:** Never invent facts. If the search provided URLs, cite them as clickable links.\n- **Supabase Compatibility:** Write content in a way that matches the `blog_posts` table schema:\n  - `title_ar`, `title_en`\n  - `content_ar`, `content_en`\n  - `excerpt_ar`, `excerpt_en`\n  - `slug` (URL-friendly string)\n\n## Standard Instructions\n- DO NOT use generic \"newsletter\" filler words.\n- ALWAYS include a section on how AI makes the topic easier/faster.\n- REMEMBER: You are writing for the \"Ziyada Team\" \u2014 the tone must be that of a partner, not just a service provider."}, "hasOutputParser": true}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [1888, 80], "id": "b52f129b-4f57-4501-83ca-be0db094aecc", "name": "ziyada content writer"}, {"parameters": {"tableId": "blog_posts", "fieldsUi": {"fieldValues": [{"fieldId": "title_ar", "value": "={{.output.title_ar}}"}, {"fieldId": "title_en", "value": "={{.output.title_en}}"}, {"fieldId": "content_ar", "value": "={{.output.content_ar}}"}, {"fieldId": "content_en", "value": "={{.output.content_en}}"}, {"fieldId": "excerpt_ar", "value": "={{.output.excerpt_ar}}"}, {"fieldId": "excerpt_en", "value": "={{.output.excerpt_en}}"}, {"fieldId": "slug", "value": "={{.output.slug}}"}, {"fieldId": "status", "value": "draft"}, {"fieldId": "author_id", "value": "e159d4f4-7111-4850-8d98-2ac5355287ee"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2160, 80], "id": "efecd1de-27ea-49c4-8fcb-1a56325836db", "name": "Create a row", "credentials": {"supabaseApi": {"id": "ra22nP41306oiP2y", "name": "Supabase account"}}}, {"parameters": {"httpMethod": "POST", "path": "0d2e541c-134c-4082-9e6b-1f7d0a3d04a8", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [848, 80], "id": "959da93c-31d9-4e75-8a63-b4580fcb6cc5", "name": "Webhook", "webhookId": "0d2e541c-134c-4082-9e6b-1f7d0a3d04a8"}, {"parameters": {"schemaType": "manual", "inputSchema": "{\"type\": \"object\", \"required\": [\"title_ar\", \"title_en\", \"content_ar\", \"content_en\", \"excerpt_ar\", \"excerpt_en\", \"slug\", \"subject\"], \"properties\": {\"title_ar\": {\"type\": \"string\"}, \"title_en\": {\"type\": \"string\"}, \"content_ar\": {\"type\": \"string\"}, \"content_en\": {\"type\": \"string\"}, \"excerpt_ar\": {\"type\": \"string\"}, \"excerpt_en\": {\"type\": \"string\"}, \"slug\": {\"type\": \"string\"}, \"subject\": {\"type\": \"string\"}}}"}, "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [1988, 272], "id": "v8-parser", "name": "Ziyada Parser"}], "connections": {"Schedule Trigger": {"main": [[]]}, "OpenRouter Chat Model": {"ai_languageModel": [[{"node": "ziyada content writer", "type": "ai_languageModel", "index": 0}, {"node": "Planning Agent main topics for this newsletter", "type": "ai_languageModel", "index": 0}]]}, "Structured Output Parser": {"ai_outputParser": [[{"node": "Planning Agent main topics for this newsletter", "type": "ai_outputParser", "index": 0}]]}, "Split Out": {"main": [[{"node": "Search", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Editor Agent", "type": "main", "index": 0}]]}, "OpenRouter Chat Model1": {"ai_languageModel": [[{"node": "Editor Agent", "type": "ai_languageModel", "index": 0}]]}, "Structured Output Parser1": {"ai_outputParser": [[{"node": "Editor Agent", "type": "ai_outputParser", "index": 0}]]}, "Editor Agent": {"main": [[{"node": "Create a draft", "type": "main", "index": 0}]]}, "Search": {"main": [[{"node": "ziyada content writer", "type": "main", "index": 0}]]}, "search news topics": {"main": [[{"node": "Planning Agent main topics for this newsletter", "type": "main", "index": 0}]]}, "Planning Agent main topics for this newsletter": {"main": [[{"node": "Split Out", "type": "main", "index": 0}]]}, "ziyada content writer": {"main": [[{"node": "Create a row", "type": "main", "index": 0}]]}, "Create a row": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}, {"node": "Create a draft", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "search news topics", "type": "main", "index": 0}]]}, "Ziyada Parser": {"ai_outputParser": [[{"node": "ziyada content writer", "type": "ai_outputParser", "index": 0}]]}}}