projects/ziyada-system/n8n for ziyada systen/workflow_blog_publisher.json
{
  "name": "Blog Draft Publisher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-blog-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9f0a1b2-c3d4-5678-efab-789012345678",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "publish-blog-draft"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/content_suggestions?id=eq.{{ $json.body.suggestion_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "f0a1b2c3-d4e5-6789-fabc-890123456789",
      "name": "Supabase - Get Suggestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Map content_suggestions record to blog_posts schema\nconst item = $input.first();\nconst records = Array.isArray(item.json) ? item.json : [item.json];\nconst suggestion = records[0];\n\nif (!suggestion || !suggestion.id) {\n  const suggestionId = $('Webhook - Receive Request').first().json.body?.suggestion_id;\n  throw new Error(`Suggestion not found for id: ${suggestionId}`);\n}\n\n// Validate platform — only blog suggestions should be published as blog posts\n// But we allow any platform suggestion to generate a blog draft\nconst title_ar = suggestion.title_ar || '';\nconst title_en = suggestion.title_en || '';\nconst content_ar = suggestion.content_ar || '';\nconst content_en = suggestion.content_en || '';\n\n// Generate slug from English title\nconst generateSlug = (title) => {\n  if (!title) return 'untitled-' + Date.now();\n  return title\n    .toLowerCase()\n    .trim()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 80) + '-' + Date.now();\n};\n\n// Extract excerpt (first 200 chars)\nconst excerpt_ar = content_ar\n  .replace(/#+\\s*/g, '')\n  .replace(/\\*+/g, '')\n  .replace(/\\n+/g, ' ')\n  .trim()\n  .substring(0, 200);\n\nconst excerpt_en = content_en\n  .replace(/#+\\s*/g, '')\n  .replace(/\\*+/g, '')\n  .replace(/\\n+/g, ' ')\n  .trim()\n  .substring(0, 200);\n\n// Determine category based on platform and topic from intel\nconst platform = suggestion.platform || 'blog';\nconst categoryMap = {\n  blog: 'articles',\n  tiktok: 'social-media',\n  instagram: 'social-media',\n  facebook: 'social-media',\n  linkedin: 'thought-leadership'\n};\nconst category = categoryMap[platform] || 'articles';\n\n// Extract tags from hooks and title keywords\nlet tags = [];\ntry {\n  const hooksData = suggestion.hooks;\n  let hooksArr = [];\n  if (typeof hooksData === 'string') {\n    hooksArr = JSON.parse(hooksData);\n  } else if (Array.isArray(hooksData)) {\n    hooksArr = hooksData;\n  }\n  // Extract Arabic keywords (simple word extraction)\n  const allText = title_ar + ' ' + hooksArr.join(' ');\n  const words = allText.split(/[\\s،,؟?!.]+/).filter(w => w.length > 3).slice(0, 8);\n  tags = [...new Set(words)];\n} catch (e) {\n  tags = ['زيادة', 'محتوى'];\n}\n\n// Add platform tag\ntags.push(platform);\ntags.push('ziyada');\n\nconst slug = generateSlug(title_en || title_ar);\n\nreturn [{\n  json: {\n    // Blog post fields\n    title_ar: title_ar,\n    title_en: title_en,\n    content_ar: content_ar,\n    content_en: content_en,\n    excerpt_ar: excerpt_ar,\n    excerpt_en: excerpt_en,\n    slug: slug,\n    category: category,\n    tags: tags,\n    author: 'Ziyada',\n    published: false,\n    status: 'draft',\n    // Keep suggestion ref for update step\n    _suggestion_id: suggestion.id,\n    _suggestion_platform: platform\n  }\n}];\n"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-890123456789",
      "name": "Map to Blog Post Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/blog_posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"title_ar\": {{ JSON.stringify($json.title_ar) }},\n  \"title_en\": {{ JSON.stringify($json.title_en) }},\n  \"content_ar\": {{ JSON.stringify($json.content_ar) }},\n  \"content_en\": {{ JSON.stringify($json.content_en) }},\n  \"excerpt_ar\": {{ JSON.stringify($json.excerpt_ar) }},\n  \"excerpt_en\": {{ JSON.stringify($json.excerpt_en) }},\n  \"slug\": {{ JSON.stringify($json.slug) }},\n  \"category\": {{ JSON.stringify($json.category) }},\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"author\": \"Ziyada\",\n  \"published\": false,\n  \"status\": \"draft\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-901234567890",
      "name": "Supabase - Insert Blog Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract the new blog post ID from Supabase response\nconst item = $input.first();\nconst records = Array.isArray(item.json) ? item.json : [item.json];\nconst blogPost = records[0];\n\nif (!blogPost || !blogPost.id) {\n  throw new Error('Blog post insertion failed - no ID returned from Supabase');\n}\n\n// Pass blog_post_id and suggestion_id to next node\nreturn [{\n  json: {\n    blog_post_id: blogPost.id,\n    blog_post_slug: blogPost.slug,\n    blog_post_status: blogPost.status,\n    suggestion_id: $('Map to Blog Post Schema').first().json._suggestion_id\n  }\n}];\n"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-012345678901",
      "name": "Extract Blog Post ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/content_suggestions?id=eq.{{ $json.suggestion_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"blog_post_id\": \"{{ $json.blog_post_id }}\",\n  \"status\": \"approved\",\n  \"approved_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-123456789012",
      "name": "Supabase - Update Suggestion Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Prepare final webhook response\nconst item = $input.first();\nconst updatedSuggestion = Array.isArray(item.json) ? item.json[0] : item.json;\n\n// Get blog post data from earlier step\nconst blogData = $('Extract Blog Post ID').first().json;\n\nreturn [{\n  json: {\n    blog_post_id: blogData.blog_post_id,\n    blog_post_slug: blogData.blog_post_slug,\n    suggestion_id: blogData.suggestion_id,\n    suggestion_status: 'approved',\n    status: 'draft_created',\n    message: 'Blog draft created successfully. Review at your Supabase dashboard.',\n    created_at: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-234567890123",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-345678901234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [{"node": "Supabase - Get Suggestion", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Get Suggestion": {
      "main": [
        [{"node": "Map to Blog Post Schema", "type": "main", "index": 0}]
      ]
    },
    "Map to Blog Post Schema": {
      "main": [
        [{"node": "Supabase - Insert Blog Post", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Insert Blog Post": {
      "main": [
        [{"node": "Extract Blog Post ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Blog Post ID": {
      "main": [
        [{"node": "Supabase - Update Suggestion Status", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Update Suggestion Status": {
      "main": [
        [{"node": "Prepare Final Response", "type": "main", "index": 0}]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "ziyada-system",
    "templateCredsSetupCompleted": false
  },
  "tags": ["blog-publisher", "cms", "ziyada", "webhook"]
}
