projects/ziyada-system/n8n for ziyada systen/workflow_chat_lead_capture.json
{
  "name": "Chat Lead Capture — Supabase + HubSpot",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"name\": \"{{ $json.name || '' }}\",\n  \"email\": \"{{ $json.email || '' }}\",\n  \"phone\": \"{{ $json.phone || '' }}\",\n  \"company\": \"{{ $json.company || '' }}\",\n  \"industry\": \"{{ $json.sector || '' }}\",\n  \"challenge\": \"{{ $json.challenge || '' }}\",\n  \"services_requested\": \"{{ $json.service_interest || '' }}\",\n  \"source\": \"chat_widget\",\n  \"language\": \"ar\",\n  \"status\": \"new\"\n}",
        "options": {}
      },
      "id": "prepare-002",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"company\": \"{{ $json.company }}\",\n  \"industry\": \"{{ $json.industry }}\",\n  \"challenge\": \"{{ $json.challenge }}\",\n  \"services_requested\": \"{{ $json.services_requested }}\",\n  \"source\": \"chat_widget\",\n  \"language\": \"ar\",\n  \"status\": \"new\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "supabase-003",
      "name": "Save Lead to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole",
          "name": "supabaseServiceRole"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $('Prepare Lead Data').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-email-004",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv953562.hstgr.cloud/webhook/hubspot-sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"record\": {\n    \"id\": \"{{ $('Save Lead to Supabase').item.json[0]?.id || '' }}\",\n    \"name\": \"{{ $('Prepare Lead Data').item.json.name }}\",\n    \"email\": \"{{ $('Prepare Lead Data').item.json.email }}\",\n    \"phone\": \"{{ $('Prepare Lead Data').item.json.phone }}\",\n    \"company\": \"{{ $('Prepare Lead Data').item.json.company }}\",\n    \"industry\": \"{{ $('Prepare Lead Data').item.json.industry }}\",\n    \"challenge\": \"{{ $('Prepare Lead Data').item.json.challenge }}\",\n    \"services_requested\": \"{{ $('Prepare Lead Data').item.json.services_requested }}\",\n    \"source\": \"chat_widget\"\n  }\n}",
        "options": {
          "timeout": 15000,
          "ignore4xxStatusCode": true
        }
      },
      "id": "hubspot-sync-005",
      "name": "Sync to HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 460]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"success\": true, \"message\": \"Lead saved successfully\", \"supabase_id\": \"{{ $('Save Lead to Supabase').item.json[0]?.id || 'saved' }}\" }",
        "options": {}
      },
      "id": "response-006",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Prepare Lead Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          { "node": "Save Lead to Supabase", "type": "main", "index": 0 },
          { "node": "Has Email?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Lead to Supabase": {
      "main": [
        [
          { "node": "Return Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          { "node": "Sync to HubSpot", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Sync to HubSpot": {
      "main": [
        [
          { "node": "Return Success", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "instanceId": "ziyada-system"
  },
  "pinData": {},
  "tags": ["ziyada", "chat", "lead-capture", "supabase", "hubspot"]
}
