projects/ziyada-system/n8n for ziyada systen/workflow_thmanyah_scraper.json
{
  "name": "Thmanyah Intelligence Scraper + Email Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 48
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "firecrawlApi",
            "name": "firecrawlApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"url\":\"https://thmanyah.com/articles\",\"formats\":[\"markdown\",\"links\"],\"onlyMainContent\":true,\"waitFor\":2000}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Firecrawl - Scrape Articles Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "firecrawlApi",
            "name": "firecrawlApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"url\":\"https://thmanyah.com/sitemap.xml\",\"formats\":[\"rawHtml\"],\"onlyMainContent\":false}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Firecrawl - Scrape Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Merge articles page and sitemap data to extract article URLs\nconst articlesData = $input.all();\n\n// Get both node outputs (articles page and sitemap)\nlet articleUrls = [];\nconst seen = new Set();\n\nfor (const item of articlesData) {\n  const data = item.json;\n\n  // Extract from links array if present (Firecrawl articles page)\n  if (data.data && data.data.links && Array.isArray(data.data.links)) {\n    for (const link of data.data.links) {\n      const url = typeof link === 'string' ? link : link.href || link.url || '';\n      if (url && url.includes('thmanyah.com') && !seen.has(url)) {\n        // Filter for article-like URLs\n        if (/\\/articles?\\/|\\/(ar|en)\\/|podcast|episode/i.test(url) ||\n            (url.split('/').length >= 5 && !url.includes('#') && !url.endsWith('.xml'))) {\n          seen.add(url);\n          articleUrls.push(url);\n        }\n      }\n    }\n  }\n\n  // Extract from markdown (look for href patterns)\n  if (data.data && data.data.markdown) {\n    const md = data.data.markdown;\n    const linkRegex = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n    let match;\n    while ((match = linkRegex.exec(md)) !== null) {\n      const url = match[2];\n      if (url && url.includes('thmanyah.com') && !seen.has(url)) {\n        seen.add(url);\n        articleUrls.push(url);\n      }\n    }\n  }\n\n  // Extract from rawHtml (sitemap URLs)\n  if (data.data && data.data.rawHtml) {\n    const html = data.data.rawHtml;\n    const locRegex = /<loc>([^<]+)<\\/loc>/g;\n    let match;\n    while ((match = locRegex.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (url && url.includes('thmanyah.com') && !seen.has(url)) {\n        if (!url.endsWith('/') || url.split('/').length > 4) {\n          seen.add(url);\n          articleUrls.push(url);\n        }\n      }\n    }\n  }\n}\n\n// Deduplicate and limit to 15 most recent/interesting\n// Sort: prefer article/episode paths\narticleUrls = articleUrls\n  .filter(u => !u.includes('sitemap') && !u.includes('.xml') && !u.includes('/tag/') && !u.includes('/page/'))\n  .slice(0, 15);\n\n// If we got nothing useful, fallback to known patterns\nif (articleUrls.length === 0) {\n  articleUrls = [\n    'https://thmanyah.com/articles',\n    'https://thmanyah.com/podcasts'\n  ];\n}\n\nreturn articleUrls.map(url => ({ json: { url } }));\n"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Extract Article URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "firecrawlApi",
            "name": "firecrawlApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"url\":\"{{ $json.url }}\",\"formats\":[\"markdown\"],\"onlyMainContent\":true,\"waitFor\":1500}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Scrape Each Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Aggregate Articles",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/runs?waitForFinish=120",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "apifyApi",
            "name": "apifyApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"directUrls\":[\"https://www.instagram.com/thmanyah/\"],\"resultsLimit\":20,\"addParentData\":false,\"scrapePostsUntilDate\":\"\"}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Apify - Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~free-tiktok-scraper/runs?waitForFinish=120",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "apifyApi",
            "name": "apifyApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"profiles\":[\"thmanyah\"],\"resultsPerPage\":20,\"shouldDownloadVideos\":false}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Apify - TikTok Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/runs?waitForFinish=120",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "apifyApi",
            "name": "apifyApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"startUrls\":[{\"url\":\"https://www.youtube.com/@thmanyah/videos\"}],\"maxResults\":20,\"downloadVideos\":false}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Apify - YouTube Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 560]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1780, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "openAiApi",
            "name": "openAiApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a competitive intelligence analyst specializing in Arabic digital media. Analyze content from Thmanyah (a leading Arabic podcast and media company) and extract strategic insights for Ziyada System, a competing Arabic content platform.\\n\\nReturn a JSON object with this exact structure:\\n{\\n  \\\"trending_topics\\\": [\\\"topic1\\\", \\\"topic2\\\", ...],\\n  \\\"writing_style_analysis\\\": \\\"detailed description of their Arabic writing style, tone, storytelling techniques\\\",\\n  \\\"hook_patterns\\\": [\\\"pattern1\\\", \\\"pattern2\\\", ...],\\n  \\\"content_gaps\\\": [\\\"gap1\\\", \\\"gap2\\\", ...],\\n  \\\"top_articles\\\": [{\\\"title\\\": \\\"\\\", \\\"url\\\": \\\"\\\", \\\"topic\\\": \\\"\\\", \\\"engagement_notes\\\": \\\"\\\"}],\\n  \\\"instagram_insights\\\": {\\\"post_frequency\\\": \\\"\\\", \\\"visual_style\\\": \\\"\\\", \\\"caption_style\\\": \\\"\\\", \\\"top_posts\\\": []},\\n  \\\"tiktok_insights\\\": {\\\"video_style\\\": \\\"\\\", \\\"trending_sounds\\\": [], \\\"hook_formula\\\": \\\"\\\"},\\n  \\\"youtube_insights\\\": {\\\"thumbnail_style\\\": \\\"\\\", \\\"title_formula\\\": \\\"\\\", \\\"top_videos\\\": []},\\n  \\\"overall_strategy\\\": \\\"summary of their content strategy\\\",\\n  \\\"recommendations_for_ziyada\\\": [\\\"recommendation1\\\", \\\"recommendation2\\\", ...]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=Analyze this Thmanyah competitor data collected today:\\n\\nARTICLES DATA:\\n{{ JSON.stringify($json.articles || []).substring(0, 8000) }}\\n\\nINSTAGRAM DATA:\\n{{ JSON.stringify($input.all()[0]?.json || {}).substring(0, 2000) }}\\n\\nTIKTOK DATA:\\n{{ JSON.stringify($input.all()[1]?.json || {}).substring(0, 2000) }}\\n\\nYOUTUBE DATA:\\n{{ JSON.stringify($input.all()[2]?.json || {}).substring(0, 2000) }}\\n\\nProvide strategic intelligence analysis.\"\n    }\n  ],\n  \"max_tokens\": 4000,\n  \"temperature\": 0.3\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678901",
      "name": "OpenAI - Analyze Thmanyah Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 380]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse OpenAI analysis and prepare records for competitor_intel table\nconst item = $input.first();\nconst response = item.json;\n\nlet analysis = {};\ntry {\n  const content = response.choices[0].message.content;\n  analysis = JSON.parse(content);\n} catch (e) {\n  analysis = {\n    trending_topics: ['general', 'podcasts'],\n    writing_style_analysis: 'Unable to parse analysis',\n    hook_patterns: [],\n    content_gaps: [],\n    top_articles: [],\n    overall_strategy: 'Analysis parsing failed',\n    recommendations_for_ziyada: []\n  };\n}\n\nconst now = new Date().toISOString();\nconst records = [];\n\n// Create one intel record per top article\nconst topArticles = analysis.top_articles || [];\nif (topArticles.length === 0) {\n  // Fallback: create one record with overall website data\n  topArticles.push({ title: 'Thmanyah Website Scan', url: 'https://thmanyah.com', topic: 'general', engagement_notes: '' });\n}\n\nfor (const article of topArticles.slice(0, 10)) {\n  records.push({\n    json: {\n      source: 'website',\n      content_type: 'article',\n      original_url: article.url || 'https://thmanyah.com',\n      original_title: article.title || '',\n      topic: article.topic || analysis.trending_topics?.[0] || 'general',\n      keywords: analysis.trending_topics || [],\n      writing_style_notes: analysis.writing_style_analysis || '',\n      engagement_score: 0,\n      raw_data: {\n        full_analysis: analysis,\n        article_engagement_notes: article.engagement_notes || ''\n      },\n      _analysis: analysis,\n      _scraped_at: now\n    }\n  });\n}\n\n// Add social media records\nif (analysis.instagram_insights) {\n  records.push({\n    json: {\n      source: 'instagram',\n      content_type: 'post',\n      original_url: 'https://www.instagram.com/thmanyah/',\n      original_title: 'Instagram Profile Scan',\n      topic: analysis.trending_topics?.[0] || 'social',\n      keywords: analysis.trending_topics || [],\n      writing_style_notes: analysis.instagram_insights.caption_style || '',\n      engagement_score: 0,\n      raw_data: analysis.instagram_insights,\n      _analysis: analysis,\n      _scraped_at: now\n    }\n  });\n}\n\nif (analysis.tiktok_insights) {\n  records.push({\n    json: {\n      source: 'tiktok',\n      content_type: 'video',\n      original_url: 'https://www.tiktok.com/@thmanyah',\n      original_title: 'TikTok Profile Scan',\n      topic: analysis.trending_topics?.[0] || 'social',\n      keywords: analysis.trending_topics || [],\n      writing_style_notes: analysis.tiktok_insights.hook_formula || '',\n      engagement_score: 0,\n      raw_data: analysis.tiktok_insights,\n      _analysis: analysis,\n      _scraped_at: now\n    }\n  });\n}\n\nif (analysis.youtube_insights) {\n  records.push({\n    json: {\n      source: 'youtube',\n      content_type: 'video',\n      original_url: 'https://www.youtube.com/@thmanyah',\n      original_title: 'YouTube Channel Scan',\n      topic: analysis.trending_topics?.[0] || 'social',\n      keywords: analysis.trending_topics || [],\n      writing_style_notes: analysis.youtube_insights.title_formula || '',\n      engagement_score: 0,\n      raw_data: analysis.youtube_insights,\n      _analysis: analysis,\n      _scraped_at: now\n    }\n  });\n}\n\nreturn records;\n"
      },
      "id": "a3b4c5d6-e7f8-9012-abcd-123456789012",
      "name": "Prepare Intel Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/competitor_intel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"source\": \"{{ $json.source }}\",\n  \"content_type\": \"{{ $json.content_type }}\",\n  \"original_url\": \"{{ $json.original_url }}\",\n  \"original_title\": {{ JSON.stringify($json.original_title) }},\n  \"topic\": \"{{ $json.topic }}\",\n  \"keywords\": {{ JSON.stringify($json.keywords) }},\n  \"writing_style_notes\": {{ JSON.stringify($json.writing_style_notes) }},\n  \"engagement_score\": {{ $json.engagement_score || 0 }},\n  \"raw_data\": {{ JSON.stringify($json.raw_data) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "name": "Insert Intel to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "openAiApi",
            "name": "openAiApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert Arabic content strategist for Ziyada System, an Arabic digital media platform competing with Thmanyah. Generate detailed, platform-specific content suggestions in both Arabic and English.\\n\\nFor each platform (blog, tiktok, instagram, facebook, linkedin), create ONE complete content suggestion.\\n\\nReturn JSON in this EXACT structure:\\n{\\n  \\\"suggestions\\\": [\\n    {\\n      \\\"platform\\\": \\\"blog\\\",\\n      \\\"title_ar\\\": \\\"Arabic title\\\",\\n      \\\"title_en\\\": \\\"English title\\\",\\n      \\\"content_ar\\\": \\\"Full Arabic blog post (min 400 words)\\\",\\n      \\\"content_en\\\": \\\"Full English blog post (min 400 words)\\\",\\n      \\\"hooks\\\": [\\\"hook1_ar\\\", \\\"hook2_ar\\\", \\\"hook3_ar\\\", \\\"hook4_ar\\\", \\\"hook5_ar\\\"],\\n      \\\"banana_image_prompt\\\": \\\"Detailed DALL-E 3 prompt for hero image\\\",\\n      \\\"carousel_prompt\\\": \\\"Canva carousel design brief with slide-by-slide content\\\",\\n      \\\"sora_video_prompt\\\": \\\"Sora/video generation prompt\\\",\\n      \\\"vue3_animation_prompt\\\": \\\"Vue3 + GSAP animation component description\\\",\\n      \\\"canva_brief\\\": \\\"Canva design brief for this platform\\\"\\n    },\\n    { \\\"platform\\\": \\\"tiktok\\\", ... },\\n    { \\\"platform\\\": \\\"instagram\\\", ... },\\n    { \\\"platform\\\": \\\"facebook\\\", ... },\\n    { \\\"platform\\\": \\\"linkedin\\\", ... }\\n  ],\\n  \\\"content_calendar\\\": [\\n    {\\\"day\\\": 1, \\\"date_label\\\": \\\"Day 1\\\", \\\"platform\\\": \\\"blog\\\", \\\"title_ar\\\": \\\"\\\", \\\"action\\\": \\\"publish\\\"},\\n    ...\\n  ],\\n  \\\"top_hooks\\\": [\\\"hook1\\\", \\\"hook2\\\", \\\"hook3\\\", \\\"hook4\\\", \\\"hook5\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=Based on this competitor intelligence from Thmanyah, generate content suggestions for Ziyada System:\\n\\nINTEL RECORD:\\nTopic: {{ $json.topic }}\\nSource: {{ $json.source }}\\nTitle: {{ $json.original_title }}\\nWriting Style Notes: {{ $json.writing_style_notes }}\\nKeywords: {{ JSON.stringify($json.keywords) }}\\nFull Analysis: {{ JSON.stringify($json.raw_data?.full_analysis || {}).substring(0, 3000) }}\\n\\nCreate engaging Arabic-first content that differentiates Ziyada from Thmanyah while covering similar high-interest topics. Focus on unique angles and stronger hooks.\"\n    }\n  ],\n  \"max_tokens\": 6000,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c5d6e7f8-a9b0-1234-cdef-345678901234",
      "name": "OpenAI - Generate Content Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 380]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse AI suggestions and map to content_suggestions table schema\nconst item = $input.first();\nconst response = item.json;\n\nlet parsed = {};\ntry {\n  const content = response.choices[0].message.content;\n  parsed = JSON.parse(content);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse suggestions', raw: response } }];\n}\n\n// Get the intel record ID from previous node output (passed through context)\n// We'll use the node's input item which should have intel data\nconst intelId = $input.first().json?.id || null;\n\nconst suggestions = parsed.suggestions || [];\nconst results = [];\n\nfor (const s of suggestions) {\n  results.push({\n    json: {\n      competitor_intel_id: intelId,\n      platform: s.platform || 'blog',\n      status: 'pending',\n      title_ar: s.title_ar || '',\n      title_en: s.title_en || '',\n      content_ar: s.content_ar || '',\n      content_en: s.content_en || '',\n      hooks: JSON.stringify(s.hooks || []),\n      banana_image_prompt: s.banana_image_prompt || '',\n      carousel_prompt: s.carousel_prompt || '',\n      sora_video_prompt: s.sora_video_prompt || '',\n      vue3_animation_prompt: s.vue3_animation_prompt || '',\n      canva_brief: s.canva_brief || '',\n      _content_calendar: parsed.content_calendar || [],\n      _top_hooks: parsed.top_hooks || [],\n      _full_parsed: parsed\n    }\n  });\n}\n\nif (results.length === 0) {\n  results.push({\n    json: {\n      competitor_intel_id: intelId,\n      platform: 'blog',\n      status: 'pending',\n      title_ar: 'مقال من تحليل ثمانية',\n      title_en: 'Article from Thmanyah Analysis',\n      content_ar: 'محتوى قيد الإنشاء',\n      content_en: 'Content pending generation',\n      hooks: '[]',\n      _content_calendar: [],\n      _top_hooks: [],\n      _full_parsed: parsed\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "d6e7f8a9-b0c1-2345-defa-456789012345",
      "name": "Prepare Suggestions Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/content_suggestions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"competitor_intel_id\": {{ $json.competitor_intel_id ? '\"' + $json.competitor_intel_id + '\"' : 'null' }},\n  \"platform\": \"{{ $json.platform }}\",\n  \"status\": \"pending\",\n  \"title_ar\": {{ JSON.stringify($json.title_ar) }},\n  \"title_en\": {{ JSON.stringify($json.title_en) }},\n  \"content_ar\": {{ JSON.stringify($json.content_ar) }},\n  \"content_en\": {{ JSON.stringify($json.content_en) }},\n  \"hooks\": {{ $json.hooks }},\n  \"banana_image_prompt\": {{ JSON.stringify($json.banana_image_prompt || '') }},\n  \"carousel_prompt\": {{ JSON.stringify($json.carousel_prompt || '') }},\n  \"sora_video_prompt\": {{ JSON.stringify($json.sora_video_prompt || '') }},\n  \"vue3_animation_prompt\": {{ JSON.stringify($json.vue3_animation_prompt || '') }},\n  \"canva_brief\": {{ JSON.stringify($json.canva_brief || '') }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e7f8a9b0-c1d2-3456-efab-567890123456",
      "name": "Insert Suggestions to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 380]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_suggestions",
        "options": {}
      },
      "id": "f8a9b0c1-d2e3-4567-fabc-678901234567",
      "name": "Aggregate Suggestions for Email",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [3320, 380]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Build comprehensive Arabic RTL email digest\nconst item = $input.first();\nconst allSuggestions = item.json.all_suggestions || [];\n\n// Extract analysis from first suggestion's stored full parsed data\nconst firstSuggestion = allSuggestions[0] || {};\nconst fullParsed = firstSuggestion._full_parsed || {};\nconst contentCalendar = firstSuggestion._content_calendar || [];\nconst topHooks = firstSuggestion._top_hooks || [];\n\n// Get current date in Arabic format\nconst now = new Date();\nconst dateOptions = { year: 'numeric', month: 'long', day: 'numeric', calendar: 'gregory' };\nconst dateAr = now.toLocaleDateString('ar-SA', dateOptions);\nconst dateEn = now.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Group suggestions by platform\nconst byPlatform = {};\nfor (const s of allSuggestions) {\n  const platform = s.platform || 'blog';\n  if (!byPlatform[platform]) byPlatform[platform] = [];\n  byPlatform[platform].push(s);\n}\n\n// Build trending topics section\nconst intelData = firstSuggestion.raw_data?.full_analysis || {};\nconst trendingTopics = intelData.trending_topics || ['محتوى عام', 'بودكاست', 'مقالات'];\nconst contentGaps = intelData.content_gaps || [];\nconst recommendations = intelData.recommendations_for_ziyada || [];\n\n// Build calendar rows HTML\nlet calendarRows = '';\nif (contentCalendar.length > 0) {\n  for (const entry of contentCalendar.slice(0, 14)) {\n    const platformEmojis = { blog: '📝', tiktok: '🎵', instagram: '📸', facebook: '👥', linkedin: '💼' };\n    calendarRows += `\n      <tr style=\"border-bottom: 1px solid #f0e6d3;\">\n        <td style=\"padding: 10px 15px; font-weight: 600; color: #c8a96e; font-size: 14px;\">${entry.date_label || 'Day ' + entry.day}</td>\n        <td style=\"padding: 10px 15px; color: #555; font-size: 14px;\">${platformEmojis[entry.platform] || '📄'} ${entry.platform}</td>\n        <td style=\"padding: 10px 15px; color: #333; font-size: 14px; font-family: 'Arial', sans-serif;\" dir=\"rtl\">${entry.title_ar || ''}</td>\n        <td style=\"padding: 10px 15px; color: #888; font-size: 12px;\">${entry.action || 'publish'}</td>\n      </tr>`;\n  }\n} else {\n  // Default 14-day calendar\n  const platforms = ['blog', 'instagram', 'tiktok', 'linkedin', 'facebook', 'blog', 'instagram', 'tiktok', 'linkedin', 'facebook', 'blog', 'instagram', 'tiktok', 'linkedin'];\n  for (let i = 0; i < 14; i++) {\n    const d = new Date(now);\n    d.setDate(d.getDate() + i);\n    const dayLabel = d.toLocaleDateString('ar-SA', { weekday: 'short', month: 'short', day: 'numeric' });\n    const platform = platforms[i];\n    const suggestion = (byPlatform[platform] || [])[0];\n    calendarRows += `\n      <tr style=\"border-bottom: 1px solid #f0e6d3;\">\n        <td style=\"padding: 10px 15px; font-weight: 600; color: #c8a96e; font-size: 14px;\">${dayLabel}</td>\n        <td style=\"padding: 10px 15px; color: #555; font-size: 14px;\">${platform}</td>\n        <td style=\"padding: 10px 15px; color: #333; font-size: 14px; font-family: 'Arial', sans-serif;\" dir=\"rtl\">${suggestion?.title_ar || '—'}</td>\n        <td style=\"padding: 10px 15px; color: #888; font-size: 12px;\">نشر</td>\n      </tr>`;\n  }\n}\n\n// Build hooks section\nconst allHooks = topHooks.length > 0 ? topHooks : allSuggestions.flatMap(s => {\n  try { return JSON.parse(s.hooks || '[]').slice(0, 2); } catch (e) { return []; }\n}).slice(0, 5);\n\nlet hooksHtml = '';\nallHooks.slice(0, 5).forEach((hook, i) => {\n  hooksHtml += `\n    <div style=\"background: linear-gradient(135deg, #fff8f0 0%, #fef3e2 100%); border-right: 4px solid #c8a96e; border-radius: 8px; padding: 16px 20px; margin: 10px 0;\" dir=\"rtl\">\n      <span style=\"font-size: 18px; font-weight: 700; color: #c8a96e; margin-left: 10px;\">${i + 1}.</span>\n      <span style=\"font-size: 16px; color: #333; font-family: 'Arial', sans-serif; line-height: 1.6;\">${hook}</span>\n    </div>`;\n});\n\n// Build creative prompts section\nlet promptsHtml = '';\nconst blogSuggestion = (byPlatform['blog'] || [])[0] || {};\nif (blogSuggestion.banana_image_prompt) {\n  promptsHtml += `\n    <div style=\"margin-bottom: 20px; background: #f9f5ff; border-radius: 10px; padding: 16px;\">\n      <h4 style=\"color: #7c3aed; margin: 0 0 8px 0; font-size: 14px;\">🍌 Banana/DALL-E Image Prompt</h4>\n      <p style=\"color: #555; font-size: 13px; margin: 0; line-height: 1.6; direction: ltr;\">${blogSuggestion.banana_image_prompt}</p>\n    </div>`;\n}\nif (blogSuggestion.sora_video_prompt) {\n  promptsHtml += `\n    <div style=\"margin-bottom: 20px; background: #f0fdf4; border-radius: 10px; padding: 16px;\">\n      <h4 style=\"color: #16a34a; margin: 0 0 8px 0; font-size: 14px;\">🎬 Sora Video Prompt</h4>\n      <p style=\"color: #555; font-size: 13px; margin: 0; line-height: 1.6; direction: ltr;\">${blogSuggestion.sora_video_prompt}</p>\n    </div>`;\n}\nif (blogSuggestion.vue3_animation_prompt) {\n  promptsHtml += `\n    <div style=\"margin-bottom: 20px; background: #fff0f0; border-radius: 10px; padding: 16px;\">\n      <h4 style=\"color: #dc2626; margin: 0 0 8px 0; font-size: 14px;\">⚡ Vue3 Animation Prompt</h4>\n      <p style=\"color: #555; font-size: 13px; margin: 0; line-height: 1.6; direction: ltr;\">${blogSuggestion.vue3_animation_prompt}</p>\n    </div>`;\n}\nif (blogSuggestion.carousel_prompt) {\n  promptsHtml += `\n    <div style=\"margin-bottom: 20px; background: #f0f9ff; border-radius: 10px; padding: 16px;\">\n      <h4 style=\"color: #0284c7; margin: 0 0 8px 0; font-size: 14px;\">🎠 Carousel Design Prompt</h4>\n      <p style=\"color: #555; font-size: 13px; margin: 0; line-height: 1.6; direction: ltr;\">${blogSuggestion.carousel_prompt}</p>\n    </div>`;\n}\n\n// Build suggestions summary\nlet suggestionsHtml = '';\nconst platformLabels = { blog: '📝 مدونة', tiktok: '🎵 تيك توك', instagram: '📸 انستغرام', facebook: '👥 فيسبوك', linkedin: '💼 لينكدإن' };\nfor (const [platform, sArr] of Object.entries(byPlatform)) {\n  const s = sArr[0];\n  if (!s) continue;\n  suggestionsHtml += `\n    <div style=\"border: 1px solid #e8d5b7; border-radius: 12px; padding: 20px; margin-bottom: 16px;\">\n      <h3 style=\"color: #c8a96e; margin: 0 0 10px 0; font-size: 16px;\">${platformLabels[platform] || platform}</h3>\n      <p style=\"color: #333; font-size: 16px; font-weight: 600; margin: 0 0 6px 0; font-family: Arial, sans-serif;\" dir=\"rtl\">${s.title_ar || ''}</p>\n      <p style=\"color: #666; font-size: 14px; margin: 0; font-style: italic;\">${s.title_en || ''}</p>\n    </div>`;\n}\n\n// Build trending topics list\nlet topicsHtml = trendingTopics.map(t =>\n  `<span style=\"display: inline-block; background: #fff3e0; color: #c8a96e; border: 1px solid #f0d090; border-radius: 20px; padding: 4px 14px; margin: 4px; font-size: 13px; font-family: Arial, sans-serif;\">${t}</span>`\n).join('');\n\n// Main email HTML\nconst emailHtml = `<!DOCTYPE html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>تقرير منافس ثمانية - ${dateAr}</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f5f1eb; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n\n  <!-- Header -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);\">\n    <tr>\n      <td style=\"padding: 40px 20px; text-align: center;\">\n        <h1 style=\"color: #c8a96e; font-size: 32px; margin: 0 0 8px 0; letter-spacing: 2px;\">زيادة</h1>\n        <h2 style=\"color: #ffffff; font-size: 18px; margin: 0 0 8px 0; font-weight: 300;\">تقرير استخبارات المنافس</h2>\n        <p style=\"color: #a0b4c8; font-size: 14px; margin: 0;\">ثمانية • ${dateAr} • ${dateEn}</p>\n      </td>\n    </tr>\n  </table>\n\n  <!-- Main Container -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 700px; margin: 0 auto;\">\n    <tr>\n      <td style=\"padding: 30px 20px;\">\n\n        <!-- Section 1: Trending Topics -->\n        <div style=\"background: #ffffff; border-radius: 16px; padding: 28px; margin-bottom: 24px; box-shadow: 0 2px 12px rgba(0,0,0,0.07);\">\n          <div style=\"display: flex; align-items: center; margin-bottom: 16px;\" dir=\"rtl\">\n            <span style=\"font-size: 24px; margin-left: 10px;\">🔥</span>\n            <h2 style=\"color: #1a1a2e; font-size: 20px; margin: 0;\">ما يتحدث عنه ثمانية</h2>\n          </div>\n          <p style=\"color: #888; font-size: 13px; margin: 0 0 16px 0;\" dir=\"rtl\">المواضيع الرائجة في المحتوى الأخير</p>\n          <div style=\"text-align: right;\">${topicsHtml}</div>\n          ${contentGaps.length > 0 ? `\n          <div style=\"margin-top: 20px; padding: 16px; background: #f0fdf4; border-radius: 10px; border-right: 4px solid #16a34a;\" dir=\"rtl\">\n            <h4 style=\"color: #16a34a; margin: 0 0 10px 0; font-size: 14px;\">🎯 فرص المحتوى (فجوات ثمانية)</h4>\n            <ul style=\"margin: 0; padding-right: 20px; color: #555; font-size: 13px; line-height: 1.8;\">\n              ${contentGaps.map(g => `<li>${g}</li>`).join('')}\n            </ul>\n          </div>` : ''}\n        </div>\n\n        <!-- Section 2: Ziyada Suggestions -->\n        <div style=\"background: #ffffff; border-radius: 16px; padding: 28px; margin-bottom: 24px; box-shadow: 0 2px 12px rgba(0,0,0,0.07);\">\n          <div dir=\"rtl\" style=\"margin-bottom: 16px;\">\n            <span style=\"font-size: 24px;\">💡</span>\n            <h2 style=\"color: #1a1a2e; font-size: 20px; margin: 0; display: inline; margin-right: 10px;\">اقتراحات لزيادة</h2>\n          </div>\n          <p style=\"color: #888; font-size: 13px; margin: 0 0 20px 0;\" dir=\"rtl\">محتوى مقترح لكل منصة بناءً على تحليل المنافس</p>\n          ${suggestionsHtml}\n        </div>\n\n        <!-- Section 3: Content Calendar -->\n        <div style=\"background: #ffffff; border-radius: 16px; padding: 28px; margin-bottom: 24px; box-shadow: 0 2px 12px rgba(0,0,0,0.07);\">\n          <div dir=\"rtl\" style=\"margin-bottom: 16px;\">\n            <span style=\"font-size: 24px;\">📅</span>\n            <h2 style=\"color: #1a1a2e; font-size: 20px; margin: 0; display: inline; margin-right: 10px;\">تقويم المحتوى — أسبوعان</h2>\n          </div>\n          <div style=\"overflow-x: auto;\">\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: collapse; font-size: 14px;\">\n              <thead>\n                <tr style=\"background: linear-gradient(135deg, #1a1a2e, #0f3460);\">\n                  <th style=\"padding: 12px 15px; text-align: right; color: #c8a96e; font-size: 13px;\" dir=\"rtl\">التاريخ</th>\n                  <th style=\"padding: 12px 15px; text-align: right; color: #c8a96e; font-size: 13px;\" dir=\"rtl\">المنصة</th>\n                  <th style=\"padding: 12px 15px; text-align: right; color: #c8a96e; font-size: 13px;\" dir=\"rtl\">العنوان</th>\n                  <th style=\"padding: 12px 15px; text-align: right; color: #c8a96e; font-size: 13px;\" dir=\"rtl\">الإجراء</th>\n                </tr>\n              </thead>\n              <tbody>${calendarRows}</tbody>\n            </table>\n          </div>\n        </div>\n\n        <!-- Section 4: Top 5 Hooks -->\n        <div style=\"background: #ffffff; border-radius: 16px; padding: 28px; margin-bottom: 24px; box-shadow: 0 2px 12px rgba(0,0,0,0.07);\">\n          <div dir=\"rtl\" style=\"margin-bottom: 16px;\">\n            <span style=\"font-size: 24px;\">🪝</span>\n            <h2 style=\"color: #1a1a2e; font-size: 20px; margin: 0; display: inline; margin-right: 10px;\">أفضل 5 خطافات تسويقية</h2>\n          </div>\n          <p style=\"color: #888; font-size: 13px; margin: 0 0 16px 0;\" dir=\"rtl\">جُمل افتتاحية قوية لاستخدامها في المحتوى العربي</p>\n          ${hooksHtml}\n        </div>\n\n        <!-- Section 5: Creative Prompts -->\n        <div style=\"background: #ffffff; border-radius: 16px; padding: 28px; margin-bottom: 24px; box-shadow: 0 2px 12px rgba(0,0,0,0.07);\">\n          <div dir=\"rtl\" style=\"margin-bottom: 16px;\">\n            <span style=\"font-size: 24px;\">🎨</span>\n            <h2 style=\"color: #1a1a2e; font-size: 20px; margin: 0; display: inline; margin-right: 10px;\">بروميتات الإبداع</h2>\n          </div>\n          <p style=\"color: #888; font-size: 13px; margin: 0 0 16px 0;\" dir=\"rtl\">جاهزة للنسخ والاستخدام المباشر</p>\n          ${promptsHtml || '<p style=\"color: #aaa; font-size: 13px; text-align: center; padding: 20px 0;\">لم يتم إنشاء بروميتات في هذه الدورة</p>'}\n        </div>\n\n        <!-- Recommendations -->\n        ${recommendations.length > 0 ? `\n        <div style=\"background: linear-gradient(135deg, #1a1a2e 0%, #0f3460 100%); border-radius: 16px; padding: 28px; margin-bottom: 24px;\">\n          <div dir=\"rtl\" style=\"margin-bottom: 16px;\">\n            <span style=\"font-size: 24px;\">🚀</span>\n            <h2 style=\"color: #c8a96e; font-size: 20px; margin: 0; display: inline; margin-right: 10px;\">توصيات استراتيجية لزيادة</h2>\n          </div>\n          <ul style=\"margin: 0; padding-right: 24px; color: #e0d5c5; font-size: 14px; line-height: 2;\" dir=\"rtl\">\n            ${recommendations.map(r => `<li>${r}</li>`).join('')}\n          </ul>\n        </div>` : ''}\n\n        <!-- Footer -->\n        <div style=\"text-align: center; padding: 20px; color: #aaa; font-size: 12px;\">\n          <p style=\"margin: 0 0 6px 0;\">زيادة سيستم — تقارير استخبارات المحتوى</p>\n          <p style=\"margin: 0; direction: ltr;\">Generated by n8n automation • ${dateEn}</p>\n        </div>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    subject: `تقرير منافس ثمانية — ${dateAr}`,\n    htmlBody: emailHtml,\n    generatedAt: now.toISOString()\n  }\n}];\n"
      },
      "id": "a9b0c1d2-e3f4-5678-abcd-789012345678",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 380]
    },
    {
      "parameters": {
        "sendTo": "ali.biggy.af@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "b0c1d2e3-f4a5-6789-bcde-890123456789",
      "name": "Gmail - Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "Gmail account",
          "name": "Gmail account"
        }
      },
      "position": [3760, 380]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "Firecrawl - Scrape Articles Page", "type": "main", "index": 0},
          {"node": "Firecrawl - Scrape Sitemap", "type": "main", "index": 0}
        ]
      ]
    },
    "Firecrawl - Scrape Articles Page": {
      "main": [
        [{"node": "Extract Article URLs", "type": "main", "index": 0}]
      ]
    },
    "Firecrawl - Scrape Sitemap": {
      "main": [
        [{"node": "Extract Article URLs", "type": "main", "index": 1}]
      ]
    },
    "Extract Article URLs": {
      "main": [
        [{"node": "Split In Batches", "type": "main", "index": 0}]
      ]
    },
    "Split In Batches": {
      "main": [
        [{"node": "Scrape Each Article", "type": "main", "index": 0}]
      ]
    },
    "Scrape Each Article": {
      "main": [
        [{"node": "Aggregate Articles", "type": "main", "index": 0}]
      ]
    },
    "Aggregate Articles": {
      "main": [
        [
          {"node": "Apify - Instagram Scraper", "type": "main", "index": 0},
          {"node": "Apify - TikTok Scraper", "type": "main", "index": 0},
          {"node": "Apify - YouTube Scraper", "type": "main", "index": 0}
        ]
      ]
    },
    "Apify - Instagram Scraper": {
      "main": [
        [{"node": "Merge All Sources", "type": "main", "index": 0}]
      ]
    },
    "Apify - TikTok Scraper": {
      "main": [
        [{"node": "Merge All Sources", "type": "main", "index": 1}]
      ]
    },
    "Apify - YouTube Scraper": {
      "main": [
        [{"node": "Merge All Sources", "type": "main", "index": 2}]
      ]
    },
    "Merge All Sources": {
      "main": [
        [{"node": "OpenAI - Analyze Thmanyah Content", "type": "main", "index": 0}]
      ]
    },
    "OpenAI - Analyze Thmanyah Content": {
      "main": [
        [{"node": "Prepare Intel Records", "type": "main", "index": 0}]
      ]
    },
    "Prepare Intel Records": {
      "main": [
        [{"node": "Insert Intel to Supabase", "type": "main", "index": 0}]
      ]
    },
    "Insert Intel to Supabase": {
      "main": [
        [{"node": "OpenAI - Generate Content Suggestions", "type": "main", "index": 0}]
      ]
    },
    "OpenAI - Generate Content Suggestions": {
      "main": [
        [{"node": "Prepare Suggestions Records", "type": "main", "index": 0}]
      ]
    },
    "Prepare Suggestions Records": {
      "main": [
        [{"node": "Insert Suggestions to Supabase", "type": "main", "index": 0}]
      ]
    },
    "Insert Suggestions to Supabase": {
      "main": [
        [{"node": "Aggregate Suggestions for Email", "type": "main", "index": 0}]
      ]
    },
    "Aggregate Suggestions for Email": {
      "main": [
        [{"node": "Build Email HTML", "type": "main", "index": 0}]
      ]
    },
    "Build Email HTML": {
      "main": [
        [{"node": "Gmail - Send Digest Email", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "instanceId": "ziyada-system",
    "templateCredsSetupCompleted": false
  },
  "tags": ["competitor-intel", "thmanyah", "scraper", "ziyada"]
}
