projects/ziyada-system/n8n for ziyada systen/workflow_content_generator.json
{
  "name": "On-Demand Content Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitor-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-7890-cdef-901234567890",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "competitor-generate"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/competitor_intel?id=eq.{{ $json.body.intel_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d2e3f4a5-b6c7-8901-defa-012345678901",
      "name": "Supabase - Get Intel Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract intel record and webhook params\nconst items = $input.all();\nconst item = items[0];\n\n// Supabase returns array\nconst records = Array.isArray(item.json) ? item.json : [item.json];\nconst intel = records[0] || {};\n\n// Get platform from original webhook body\n// We need to access the webhook trigger's output - stored in execution context\n// The platform comes through the chain from webhook trigger\nconst platform = $('Webhook - Receive Request').first().json.body?.platform || 'blog';\nconst intelId = $('Webhook - Receive Request').first().json.body?.intel_id || intel.id;\n\nif (!intel.id) {\n  throw new Error(`Intel record not found for id: ${intelId}`);\n}\n\nreturn [{\n  json: {\n    intel_id: intel.id,\n    platform: platform,\n    source: intel.source,\n    content_type: intel.content_type,\n    original_url: intel.original_url,\n    original_title: intel.original_title,\n    topic: intel.topic,\n    keywords: intel.keywords || [],\n    writing_style_notes: intel.writing_style_notes || '',\n    engagement_score: intel.engagement_score || 0,\n    raw_data: intel.raw_data || {}\n  }\n}];\n"
      },
      "id": "e3f4a5b6-c7d8-9012-efab-123456789012",
      "name": "Extract Intel + Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {
          "httpHeaderAuth": {
            "id": "openAiApi",
            "name": "openAiApi"
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert Arabic content strategist for Ziyada System, an Arabic digital media and technology platform. You create compelling, platform-specific content that resonates with Arabic-speaking audiences in the Gulf and Arab world.\\n\\nYour content philosophy:\\n- Arabic-first: content_ar is always the primary, richer version\\n- Hooks are critical: opening lines must be emotionally compelling\\n- Differentiation: always find a unique angle vs competitors\\n- Platform mastery: each platform has specific format requirements\\n\\nPlatform guidelines:\\n- blog: Long-form 600-1000 words, storytelling format, SEO-optimized\\n- tiktok: Short punchy script (30-60 sec), hook in first 3 words, trending format\\n- instagram: Caption 150-300 chars, emoji-enhanced, carousel-ready\\n- facebook: Community-focused, longer storytelling, shareable\\n- linkedin: Professional tone, industry insights, thought leadership\\n\\nReturn a JSON object with EXACTLY this structure:\\n{\\n  \\\"platform\\\": \\\"<platform_name>\\\",\\n  \\\"title_ar\\\": \\\"<compelling Arabic title>\\\",\\n  \\\"title_en\\\": \\\"<English title>\\\",\\n  \\\"content_ar\\\": \\\"<full Arabic content for the platform>\\\",\\n  \\\"content_en\\\": \\\"<full English content for the platform>\\\",\\n  \\\"hooks\\\": [\\\"<hook1_ar>\\\", \\\"<hook2_ar>\\\", \\\"<hook3_ar>\\\", \\\"<hook4_ar>\\\", \\\"<hook5_ar>\\\"],\\n  \\\"banana_image_prompt\\\": \\\"<detailed DALL-E 3 / Midjourney prompt for hero image, specify style, mood, colors, composition>\\\",\\n  \\\"carousel_prompt\\\": \\\"<Canva carousel brief: slide 1: ..., slide 2: ..., slide 3: ..., colors, fonts>\\\",\\n  \\\"sora_video_prompt\\\": \\\"<Sora/Runway video generation prompt, describe scenes, camera movement, lighting, duration>\\\",\\n  \\\"vue3_animation_prompt\\\": \\\"<Vue3 + GSAP animated component description: what it shows, animations, interactions, data it visualizes>\\\",\\n  \\\"canva_brief\\\": \\\"<Canva design brief specific to this platform: dimensions, elements, brand colors #c8a96e and #1a1a2e, typography>\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=Generate {{ $json.platform }}-optimized content for Ziyada System based on this competitor intelligence:\\n\\nPlatform: {{ $json.platform }}\\nCompetitor Source: {{ $json.source }} (Thmanyah)\\nOriginal Topic: {{ $json.topic }}\\nOriginal Title: {{ $json.original_title }}\\nOriginal URL: {{ $json.original_url }}\\nKeywords: {{ JSON.stringify($json.keywords) }}\\nWriting Style Notes: {{ $json.writing_style_notes }}\\nEngagement Score: {{ $json.engagement_score }}\\nAdditional Context: {{ JSON.stringify($json.raw_data).substring(0, 2000) }}\\n\\nCreate unique, differentiated content for Ziyada that covers the same topic with a fresh angle. Make it better than what Thmanyah is doing. The content should feel authentic to Ziyada's brand identity.\"\n    }\n  ],\n  \"max_tokens\": 4000,\n  \"temperature\": 0.8\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f4a5b6c7-d8e9-0123-fabc-234567890123",
      "name": "OpenAI - Generate Platform Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse AI response and structure for Supabase insertion\nconst item = $input.first();\nconst response = item.json;\n\nlet parsed = {};\ntry {\n  const content = response.choices[0].message.content;\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Failed to parse OpenAI response: ' + e.message);\n}\n\n// Get intel_id from earlier in the chain\nconst intelData = $('Extract Intel + Platform').first().json;\n\n// Validate and sanitize\nconst platform = parsed.platform || intelData.platform || 'blog';\nconst validPlatforms = ['blog', 'tiktok', 'instagram', 'facebook', 'linkedin'];\nconst safePlatform = validPlatforms.includes(platform) ? platform : 'blog';\n\n// Ensure hooks is a proper array\nlet hooks = parsed.hooks || [];\nif (typeof hooks === 'string') {\n  try { hooks = JSON.parse(hooks); } catch (e) { hooks = [hooks]; }\n}\nif (!Array.isArray(hooks)) hooks = [];\nhooks = hooks.slice(0, 5);\n\nreturn [{\n  json: {\n    competitor_intel_id: intelData.intel_id || null,\n    platform: safePlatform,\n    status: 'pending',\n    title_ar: parsed.title_ar || '',\n    title_en: parsed.title_en || '',\n    content_ar: parsed.content_ar || '',\n    content_en: parsed.content_en || '',\n    hooks: hooks,\n    banana_image_prompt: parsed.banana_image_prompt || '',\n    carousel_prompt: parsed.carousel_prompt || '',\n    sora_video_prompt: parsed.sora_video_prompt || '',\n    vue3_animation_prompt: parsed.vue3_animation_prompt || '',\n    canva_brief: parsed.canva_brief || ''\n  }\n}];\n"
      },
      "id": "a5b6c7d8-e9f0-1234-abcd-345678901234",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/content_suggestions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"competitor_intel_id\": {{ $json.competitor_intel_id ? '\"' + $json.competitor_intel_id + '\"' : 'null' }},\n  \"platform\": \"{{ $json.platform }}\",\n  \"status\": \"pending\",\n  \"title_ar\": {{ JSON.stringify($json.title_ar) }},\n  \"title_en\": {{ JSON.stringify($json.title_en) }},\n  \"content_ar\": {{ JSON.stringify($json.content_ar) }},\n  \"content_en\": {{ JSON.stringify($json.content_en) }},\n  \"hooks\": {{ JSON.stringify($json.hooks) }},\n  \"banana_image_prompt\": {{ JSON.stringify($json.banana_image_prompt) }},\n  \"carousel_prompt\": {{ JSON.stringify($json.carousel_prompt) }},\n  \"sora_video_prompt\": {{ JSON.stringify($json.sora_video_prompt) }},\n  \"vue3_animation_prompt\": {{ JSON.stringify($json.vue3_animation_prompt) }},\n  \"canva_brief\": {{ JSON.stringify($json.canva_brief) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b6c7d8e9-f0a1-2345-bcde-456789012345",
      "name": "Supabase - Insert Suggestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Prepare webhook response\nconst item = $input.first();\nconst insertedData = Array.isArray(item.json) ? item.json[0] : item.json;\n\nreturn [{\n  json: {\n    suggestion_id: insertedData.id || null,\n    platform: insertedData.platform || '',\n    title_ar: insertedData.title_ar || '',\n    title_en: insertedData.title_en || '',\n    status: 'created',\n    created_at: insertedData.created_at || new Date().toISOString(),\n    competitor_intel_id: insertedData.competitor_intel_id || null\n  }\n}];\n"
      },
      "id": "c7d8e9f0-a1b2-3456-cdef-567890123456",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d8e9f0a1-b2c3-4567-defa-678901234567",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [{"node": "Supabase - Get Intel Record", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Get Intel Record": {
      "main": [
        [{"node": "Extract Intel + Platform", "type": "main", "index": 0}]
      ]
    },
    "Extract Intel + Platform": {
      "main": [
        [{"node": "OpenAI - Generate Platform Content", "type": "main", "index": 0}]
      ]
    },
    "OpenAI - Generate Platform Content": {
      "main": [
        [{"node": "Parse AI Response", "type": "main", "index": 0}]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{"node": "Supabase - Insert Suggestion", "type": "main", "index": 0}]
      ]
    },
    "Supabase - Insert Suggestion": {
      "main": [
        [{"node": "Prepare Response", "type": "main", "index": 0}]
      ]
    },
    "Prepare Response": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "ziyada-system",
    "templateCredsSetupCompleted": false
  },
  "tags": ["content-generator", "on-demand", "ziyada", "webhook"]
}
