projects/ziyada-system/n8n for ziyada system/workflow_guide_access_tracker.json
{
  "name": "🔐 Ziyada — Guide Access Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guide-access-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\n\n// Event metadata\nconst meta = {\n  guide_opened:                  { label: '👁️ فتح الملف',             level: 'info',    color: '#3b82f6', bg: '#eff6ff', title: 'تم فتح الدليل السري' },\n  login_success:                 { label: '✅ دخول ناجح',              level: 'success', color: '#16a34a', bg: '#f0fdf4', title: 'دخول ناجح للدليل' },\n  login_failed:                  { label: '❌ كلمة مرور خاطئة',        level: 'danger',  color: '#dc2626', bg: '#fef2f2', title: '🚨 محاولة دخول فاشلة' },\n  screenshot_attempt:            { label: '📸 محاولة تصوير الشاشة',   level: 'danger',  color: '#dc2626', bg: '#fef2f2', title: '🚨 محاولة التقاط الشاشة' },\n  window_blur_suspected_capture: { label: '🎥 محاولة تسجيل الشاشة',  level: 'warning', color: '#d97706', bg: '#fffbeb', title: '⚠️ محاولة تسجيل مشتبه بها' },\n  devtools_attempt:              { label: '🔧 محاولة فتح DevTools',    level: 'danger',  color: '#dc2626', bg: '#fef2f2', title: '🚨 محاولة فحص الكود' },\n  right_click_attempt:           { label: '🖱️ نقر يمين',              level: 'warning', color: '#d97706', bg: '#fffbeb', title: '⚠️ محاولة نقر يمين' },\n  copy_attempt:                  { label: '📋 محاولة نسخ نص',         level: 'warning', color: '#d97706', bg: '#fffbeb', title: '⚠️ محاولة نسخ المحتوى' },\n  guide_closed:                  { label: '🚪 إغلاق الملف',            level: 'info',    color: '#6366f1', bg: '#eef2ff', title: 'تم إغلاق الدليل' }\n};\n\nconst evt = meta[b.event_type] || { label: b.event_type, level: 'info', color: '#64748b', bg: '#f8fafc', title: b.event_type };\n\n// Parse device from user agent\nconst ua = b.user_agent || '';\nlet device = 'غير معروف';\nif (/iPhone|iPad/.test(ua)) device = 'Apple iPhone/iPad';\nelse if (/Android/.test(ua)) device = 'Android Mobile';\nelse if (/Mac/.test(ua)) device = 'Mac';\nelse if (/Windows/.test(ua)) device = 'Windows PC';\nelse if (/Linux/.test(ua)) device = 'Linux';\n\nlet browser = 'غير معروف';\nif (/Chrome/.test(ua) && !/Chromium|Edge/.test(ua)) browser = 'Google Chrome';\nelse if (/Firefox/.test(ua)) browser = 'Mozilla Firefox';\nelse if (/Safari/.test(ua) && !/Chrome/.test(ua)) browser = 'Safari';\nelse if (/Edge/.test(ua)) browser = 'Microsoft Edge';\n\nconst mapsLink = b.maps_link || (b.lat && b.lon ? `https://www.google.com/maps?q=${b.lat},${b.lon}` : null);\nconst nowAr = new Date(b.timestamp || Date.now()).toLocaleString('ar-SA', { timeZone: b.timezone || 'Asia/Riyadh', dateStyle: 'full', timeStyle: 'short' });\n\nreturn [{ json: {\n  ...b,\n  event_label: evt.label,\n  event_title: evt.title,\n  event_level: evt.level,\n  event_color: evt.color,\n  event_bg:    evt.bg,\n  device, browser,\n  maps_link: mapsLink,\n  time_ar: nowAr\n}}];"
      },
      "id": "node-process",
      "name": "Process & Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "guide_access_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type":         "={{ $json.event_type }}",
            "event_label":        "={{ $json.event_label }}",
            "visitor_name":       "={{ $json.name }}",
            "ip_address":         "={{ $json.ip }}",
            "country":            "={{ $json.country }}",
            "country_code":       "={{ $json.country_code }}",
            "city":               "={{ $json.city }}",
            "region":             "={{ $json.region }}",
            "latitude":           "={{ $json.lat }}",
            "longitude":          "={{ $json.lon }}",
            "isp":                "={{ $json.isp }}",
            "timezone":           "={{ $json.timezone }}",
            "maps_link":          "={{ $json.maps_link }}",
            "referrer":           "={{ $json.referrer }}",
            "utm_source":         "={{ $json.utm_source }}",
            "user_agent":         "={{ $json.user_agent }}",
            "screen_size":        "={{ $json.screen }}",
            "platform":           "={{ $json.platform }}",
            "page_url":           "={{ $json.page_url }}",
            "session_id":         "={{ $json.session_id }}",
            "attempt_number":     "={{ $json.attempt_number || null }}",
            "time_spent_seconds": "={{ $json.time_spent_seconds || null }}",
            "is_alert":           "={{ ['login_failed','screenshot_attempt','devtools_attempt'].includes($json.event_type) }}",
            "extra_data":         "={{ JSON.stringify($json) }}",
            "created_at":         "={{ $json.timestamp || new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "node-supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [620, 300],
      "credentials": {
        "supabaseApi": { "id": "supabase-cred", "name": "Supabase" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "right_click_attempt",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Skip Minor Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "sendTo": "ziyadasystem@gmail.com",
        "subject": "={{ $json.event_title + ' | ' + ($json.name || 'زائر غير معروف') + ' | ' + ($json.page_url || $json.referrer || 'مصدر غير محدد') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang=\"ar\" dir=\"rtl\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>Ziyada System Access Alert</title><style>*{box-sizing:border-box}body{margin:0;background:#eef2ff;font-family:Arial,sans-serif;color:#0f172a}.wrap{max-width:720px;margin:0 auto;padding:24px 16px}.card{background:#fff;border-radius:24px;overflow:hidden;box-shadow:0 20px 50px rgba(15,23,42,.12)}.bar{height:6px;background:linear-gradient(90deg,#2563eb,#8b5cf6,#06b6d4)}.header{padding:28px 28px 20px;background:#0f172a;color:#fff}.badge{display:inline-block;padding:8px 14px;border-radius:999px;font-weight:800;font-size:13px;background:{{ $json.event_bg }};color:{{ $json.event_color }};border:1px solid {{ $json.event_color }};}.title{font-size:24px;font-weight:900;margin:14px 0 8px}.sub{font-size:13px;color:#cbd5e1}.body{padding:24px 28px 28px}.note{padding:16px 18px;border-radius:16px;background:#f8fafc;border:1px solid #e2e8f0;line-height:1.8;font-size:14px;color:#475569}.section{margin-top:20px}.section h3{font-size:13px;color:#64748b;margin:0 0 10px}.rows{border:1px solid #e2e8f0;border-radius:16px;overflow:hidden}.row{display:flex;gap:12px;padding:13px 16px;border-bottom:1px solid #e2e8f0;background:#fff}.row:last-child{border-bottom:none}.label{min-width:120px;font-size:13px;font-weight:700;color:#64748b}.value{flex:1;font-size:14px;font-weight:700;word-break:break-word}.cta{display:inline-block;margin-top:18px;padding:14px 18px;border-radius:14px;background:linear-gradient(135deg,#2563eb,#8b5cf6);color:#fff;text-decoration:none;font-weight:800}.footer{padding:18px 28px 24px;background:#f8fafc;border-top:1px solid #e2e8f0;font-size:12px;color:#94a3b8;line-height:1.8}</style></head><body><div class=\"wrap\"><div class=\"card\"><div class=\"bar\"></div><div class=\"header\"><div class=\"badge\">{{ $json.event_label }}</div><div class=\"title\">{{ $json.event_title }}</div><div class=\"sub\">{{ $json.time_ar }}</div></div><div class=\"body\"><div class=\"note\">تم تسجيل هذا الحدث ضمن تتبع الوصول للدليل الداخلي لزيادة سيستم. البيانات أدناه توضح من أين جاء الحدث وما الصفحة التي صدر منها فعلياً.</div><div class=\"section\"><h3>هوية الزائر</h3><div class=\"rows\"><div class=\"row\"><div class=\"label\">الاسم</div><div class=\"value\">{{ $json.name || 'غير معروف' }}</div></div><div class=\"row\"><div class=\"label\">نوع الحدث</div><div class=\"value\">{{ $json.event_label }}</div></div><div class=\"row\"><div class=\"label\">Session ID</div><div class=\"value\">{{ $json.session_id || '—' }}</div></div></div></div><div class=\"section\"><h3>المصدر والصفحة</h3><div class=\"rows\"><div class=\"row\"><div class=\"label\">رابط الصفحة</div><div class=\"value\">{{ $json.page_url || 'غير متاح' }}</div></div><div class=\"row\"><div class=\"label\">المرجع</div><div class=\"value\">{{ $json.referrer || 'مباشر' }}</div></div><div class=\"row\"><div class=\"label\">UTM Source</div><div class=\"value\">{{ $json.utm_source || '—' }}</div></div></div></div><div class=\"section\"><h3>الموقع والشبكة</h3><div class=\"rows\"><div class=\"row\"><div class=\"label\">الدولة / المدينة</div><div class=\"value\">{{ $json.country || 'غير معروف' }}{{ $json.city ? ' / ' + $json.city : '' }}{{ $json.region ? ' / ' + $json.region : '' }}</div></div><div class=\"row\"><div class=\"label\">IP</div><div class=\"value\">{{ $json.ip || 'غير معروف' }}</div></div><div class=\"row\"><div class=\"label\">مزود الإنترنت</div><div class=\"value\">{{ $json.isp || '—' }}</div></div></div></div><div class=\"section\"><h3>الجهاز</h3><div class=\"rows\"><div class=\"row\"><div class=\"label\">الجهاز</div><div class=\"value\">{{ $json.device || '—' }}</div></div><div class=\"row\"><div class=\"label\">المتصفح</div><div class=\"value\">{{ $json.browser || '—' }}</div></div><div class=\"row\"><div class=\"label\">حجم الشاشة</div><div class=\"value\">{{ $json.screen || '—' }}</div></div></div></div>{{ $json.maps_link ? '<a class=\"cta\" href=\"' + $json.maps_link + '\" target=\"_blank\">فتح الموقع الجغرافي على الخريطة</a>' : '' }}</div><div class=\"footer\">إذا ظهرت بعض الحقول فارغة فهذا يعني أن المتصفح أو خدمة تحديد الموقع لم ترسلها.<br>{{ $json.timestamp }}</div></div></div></body></html>",
        "options": {}
      },
      "id": "node-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1060, 160],
      "credentials": {
        "gmailOAuth2": { "id": "gmail-cred", "name": "Gmail OAuth2" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"logged\": true}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1060, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Process & Enrich", "type": "main", "index": 0 }]]
    },
    "Process & Enrich": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Skip Minor Events", "type": "main", "index": 0 }]]
    },
    "Skip Minor Events": {
      "main": [
        [{ "node": "Send Email Alert", "type": "main", "index": 0 }],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Send Email Alert": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
