projects/ziyada-system/n8n for ziyada system/workflow_chat_lead_capture_FIXED.json
{
  "name": "Chat Lead Capture — Supabase",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "execute-trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"name\": \"{{ $json.name || $json.full_name || '' }}\",\n  \"email\": \"{{ $json.email || '' }}\",\n  \"phone\": \"{{ $json.phone || '' }}\",\n  \"company\": \"{{ $json.company || '' }}\",\n  \"industry\": \"{{ $json.sector || $json.industry || '' }}\",\n  \"challenge\": \"{{ $json.challenge || '' }}\",\n  \"services_requested\": \"{{ $json.service_interest || $json.services_requested || '' }}\",\n  \"source\": \"chat_widget\",\n  \"status\": \"new\"\n}",
        "options": {}
      },
      "id": "prepare-002",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-name",
              "leftValue": "={{ $('Prepare Lead Data').item.json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "has-phone",
              "leftValue": "={{ $('Prepare Lead Data').item.json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-required-003",
      "name": "Has Name + Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuyscajjlhxviuyrxzyq.supabase.co/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Prepare Lead Data').item.json.name }}\",\n  \"email\": \"{{ $('Prepare Lead Data').item.json.email }}\",\n  \"phone\": \"{{ $('Prepare Lead Data').item.json.phone }}\",\n  \"company\": \"{{ $('Prepare Lead Data').item.json.company }}\",\n  \"industry\": \"{{ $('Prepare Lead Data').item.json.industry }}\",\n  \"challenge\": \"{{ $('Prepare Lead Data').item.json.challenge }}\",\n  \"services_requested\": \"{{ $('Prepare Lead Data').item.json.services_requested }}\",\n  \"source\": \"chat_widget\",\n  \"status\": \"new\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "supabase-004",
      "name": "Save Lead to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole",
          "name": "supabaseServiceRole"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"success\": false, \"error\": \"Missing required fields: name and phone are required\" }",
        "options": {}
      },
      "id": "error-missing-005",
      "name": "Return Missing Fields Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 520]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"message\": \"Lead saved successfully\",\n  \"supabase_id\": \"{{ $('Save Lead to Supabase').item.json[0]?.id || 'saved' }}\"\n}",
        "options": {}
      },
      "id": "response-006",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 280]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Prepare Lead Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          { "node": "Has Name + Phone?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Name + Phone?": {
      "main": [
        [
          { "node": "Save Lead to Supabase", "type": "main", "index": 0 }
        ],
        [
          { "node": "Return Missing Fields Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Lead to Supabase": {
      "main": [
        [
          { "node": "Return Success", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "instanceId": "ziyada-system"
  },
  "pinData": {},
  "tags": ["ziyada", "chat", "lead-capture", "supabase"]
}
