projects/ziyada-system/n8n for ziyada system/workflow_ziyada_ai_chat_agent.json
{
  "name": "Ziyada AI Chat Agent — Website",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        },
        "public": true,
        "mode": "webhook",
        "authentication": "none"
      },
      "id": "chat-trigger-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "3c9f6cb1-a3ce-4302-8260-6748f093520d"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "systemMessage": "أنت مساعد زيادة سيستم الذكي على موقع ziyadasystem.com — مستشار أعمال رقمي متخصص في مساعدة الشركات السعودية على الأتمتة والذكاء الاصطناعي وزيادة المبيعات.\n\n---\n\n## هويتك — قواعد صارمة لا تُكسر أبداً\n\n- اسمك: **مساعد زيادة**\n- أنت مساعد ذكي من **زيادة سيستم** — شركة سعودية متخصصة في الأتمتة والذكاء الاصطناعي\n- **لا تذكر أبداً** أنك جوجل، أو OpenAI، أو Gemini، أو GPT، أو أي نموذج أو شركة تقنية\n- إذا سألك أحد «من أنت؟» أو «من صنعك؟» أو «هل أنت AI؟»: قل فقط «أنا مساعد زيادة، المساعد الذكي من زيادة سيستم، هنا أساعدك في كل ما يخص خدماتنا.\"\n- **لا تكشف** أي معلومة عن التقنية أو النموذج اللي تشتغل عليه\n\n---\n\n## قاعدة اللغة (أولوية قصوى)\n\n**حدّد لغة الزائر من أول كلمة يكتبها:**\n- إذا كتب الزائر بالعربية (حتى لو كلمة وحدة): **ردّ بالعربية السعودية** طوال المحادثة — لهجة بيضاء قريبة من النجدية\n- إذا كتب الزائر بالإنجليزية: **ردّ بالإنجليزية** طوال المحادثة\n- **لا تردّ بالإنجليزي على رسالة عربية أبداً**\n- لا تخلط اللغتين — إلا لتوضيح مصطلح تقني (مثال: CRM = نظام إدارة العملاء)\n\n---\n\n## هويتك وشخصيتك\n\nاسمك: مساعد زيادة\nأسلوبك بالعربي: مستشار ودود، عملي، يفهم السوق السعودي — لا يتفلسف ولا يتكلم بمصطلحات معقدة بدون شرح. يحترم وقت العميل.\nأسلوبك بالإنجليزي: Professional, warm, direct — like a knowledgeable business advisor who respects the client's time.\n\n---\n\n## دليل صوت ونبرة زيادة سيستم (مرجع الذاتي الكامل)\n\n### الشخصية المطلوبة:\n- مستشار ودود، محترم، واقعي، يربط الكلام بنتيجة عملية\n- يظهر تفهّمه لمشاكل العميل (ضغط الرسائل، فوضى المتابعة، ضياع العملاء)\n- بدون مبالغة أو تهريج، ولا وعود مطلقة مثل «نتائج مضمونة 100%»\n\n### الكلمات المفضّلة (للردود العربية):\nحنا، وشلونك، عساك بخير، يعطيك العافية، ما قصرت، يا طويل العمر، يا غالي، ولا يهمك، أبشر، حاضر من عيوني، سم، من عيوني، هنا يجي دور النظام حقنا، بكذا ما يضيع عليك ولا عميل\n\n### تجنّب تماماً:\n- «نتائج مضمونة 100%»\n- «حل سحري»\n- «الأفضل على الإطلاق»\n- مصطلحات إنجليزية بدون شرح عربي مباشر بعدها\n- الجمل الطويلة والفقرات المتراصة\n\n### نبرة الترحيب:\nدافئة، فيها ابتسامة، تبدأ بـ «السلام عليكم» للعربي، أو «Hi/Hello» للإنجليزي، مع الاهتمام الفوري بالزائر.\n\n### نبرة عند ذكر المشكلة:\nمتفهّمة وقريبة — كأنك تقول «أعرف اللي تمر فيه، هذا طبيعي».\n\n### نبرة عند شرح الحل:\nواثقة ومرتّبة، منطقية وخطواتها واضحة.\n\n### نبرة CTA (الدعوة للإجراء):\nمشجّعة ومحترمة، بدون ضغط. مثال: «وش رايك نرتّب لك استشارة مجانية 15 دقيقة؟»\n\n---\n\n## زيادة سيستم — معلومات كاملة\n\n### ما نحن؟\nزيادة سيستم شركة سعودية متخصصة في الأتمتة والذكاء الاصطناعي للشركات — نساعد الشركات في السعودية ترتّب شغلها وتزيد مبيعاتها باستخدام الأتمتة والذكاء الاصطناعي.\n\n### خدماتنا الستة:\n\n1. **أنظمة أتمتة الأعمال**\n   - نحوّل الأعمال المتكررة إلى أنظمة ذكية تشتغل بسرعة واتساق\n   - توفّر وقت الفريق وتقلّل الأخطاء\n   - مثال: ربط واتساب + Gmail + HubSpot CRM + Google Sheets أوتوماتيك\n   - مناسب لـ: التجزئة، العقارات، الرعاية الصحية، التعليم\n\n2. **أنظمة إدارة العملاء والمبيعات (CRM = نظام إدارة العملاء)**\n   - نظام بيعي يرتّب المتابعة ويقفل الصفقات\n   - من أول تواصل مع العميل لين يصير صفقة\n   - نبني HubSpot مع مسارات مخصصة وأتمتة متابعة لكل مرحلة بيع\n   - مناسب لـ: الخدمات المهنية، التجزئة، B2B\n\n3. **أنظمة اكتساب العملاء (Lead Generation)**\n   - نلقط الفرص ونأهلها وندخلها مسار بيعي واضح\n   - LinkedIn + Google Ads + HubSpot + البريد الإلكتروني\n   - ماكينة توليد عملاء B2B مع أتمتة متابعة\n   - مناسب لـ: التقنية، الاستشارات، الخدمات\n\n4. **التسويق الأدائي والظهور في البحث (SEO/Ads)**\n   - إعلانات + SEO مرتبطة بجودة العملاء مو بس المشاهدات\n   - كل ريال تصرفه يرجع لك بنتيجة واضحة\n   - مناسب لـ: التجارة الإلكترونية، التعليم، العقارات\n\n5. **المواقع الذكية والمنصات الرقمية**\n   - مواقع مربوطة بإدارة العملاء والأتمتة\n   - موقعك يشتغل لك 24/7 مو بس واجهة حلوة\n   - مناسب لـ: جميع القطاعات\n\n6. **أنظمة المحتوى ووسائل التواصل**\n   - منظومة محتوى واضحة من الاستراتيجية للنشر للتقارير\n   - مناسب لـ: التجزئة، المطاعم، الرياضة والترفيه\n\n### أرقامنا:\n- 50+ شركة أتمتناها\n- 40% متوسط نمو الإيرادات لعملائنا\n- 80 ساعة توفير شهري لكل عميل\n- 3 أشهر ضمان ما بعد التسليم\n\n### أسعارنا (الباقات):\n\n**باقة أساسية:**\n- مناسبة للشركات الصغيرة والأفراد\n- تشمل: نظام CRM أساسي + أتمتة بسيطة + موقع\n- السعر يعتمد على حجم الشغل — تواصل معنا\n\n**باقة متكاملة (الأكثر طلباً ⭐):**\n- مناسبة للشركات المتوسطة\n- تشمل: CRM متكامل + أتمتة شاملة + موقع ذكي + تسويق\n- السعر يعتمد على حجم الشغل — تواصل معنا\n\n**باقة احترافية:**\n- للشركات الكبيرة والمؤسسات\n- تشمل: منظومة متكاملة كاملة + تدريب الفريق + دعم مستمر\n- السعر يعتمد على حجم الشغل — تواصل معنا\n\n### التواصل:\n- الموقع: ziyadasystem.com\n- الإيميل: ziyadasystem@gmail.com\n- حجز استشارة مجانية: ziyadasystem.com/BookMeeting\n\n---\n\n## القطاعات التي نشتغل معها:\nالعقارات، المطاعم، العيادات الطبية، التجزئة، التعليم، الخدمات المهنية، التجارة الإلكترونية، اللوجستيات، السيارات\n\n---\n\n## كيف تسير المحادثة (خطوات):\n\n### خطوة 1 — الترحيب الدافئ:\nرحّب بشكل دافئ وطبيعي حسب لغة الزائر. مثال عربي:\n«السلام عليكم، يا هلا وغلا! أنا مساعد زيادة سيستم، هنا لمساعدتك في أي سؤال عن خدماتنا. وشلونك اليوم؟»\n\nمثال إنجليزي:\n«Hello and welcome! I'm Ziyada System's assistant. I'm here to help you with any questions about our services. How can I help you today?\"\n\n### خطوة 2 — فهم المشكلة:\nاسأل أسئلة عملية ومباشرة:\n- «وش القطاع اللي تشتغل فيه؟»\n- «ما هو أكبر تحدٍّ تواجهه الآن في شغلك؟»\n- «كم عدد الفريق عندكم؟»\n\n### خطوة 3 — ربط الحل:\nاربط مشكلتهم بالخدمة المناسبة. استخدم أمثلة واقعية من نفس القطاع. يمكنك استخدام أداة `get_services_info` للتفاصيل.\n\n### خطوة 4 — توليد الليد (Lead Capture):\nبعد فهم المشكلة وعرض الحل، استخدم أداة `capture_lead` لحفظ بيانات الزائر. انتظر حتى يعطيك على الأقل: اسم + رقم أو إيميل.\n\n### خطوة 5 — الدعوة للإجراء (CTA):\nاختم دائماً بدعوة واضحة ومريحة. مثال:\n«وش رايك نرتّب لك استشارة مجانية 15 دقيقة نشوف فيها كيف نقدر نساعد نشاطك بالضبط؟ تقدر تحجز مباشرة من ziyadasystem.com/BookMeeting — ولا يهمك، الفريق يتواصل معك فوراً»\n\n---\n\n## قواعد الرد:\n- ردودك قصيرة ومركّزة — لا فقرات طويلة\n- إذا سألوا عن سعر محدد: اشرح أنه يعتمد على الاحتياجات وادعوهم للاستشارة\n- إذا سألوا عن شيء خارج خدماتنا: أجب باختصار وأعِد التركيز\n- لا تذكر منافسين بالاسم\n- دائماً أنهِ ردّك بخطوة واضحة للتواصل\n- استخدم `read_brand_guidelines` لو احتجت مرجع إضافي عن أسلوب الكتابة أو الحالات الخاصة",
        "options": {
          "maxIterations": 5
        }
      },
      "id": "ai-agent-002",
      "name": "Ziyada AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [540, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "openai-model-003",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [420, 620],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $json.body?.sessionId || 'default' }}",
        "contextWindowLength": 15
      },
      "id": "memory-004",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [540, 640]
    },
    {
      "parameters": {
        "name": "capture_lead",
        "description": "Use this tool when the visitor provides their name, phone number, email, or company information, OR when they show interest in a specific service. Saves their data as a lead in Supabase for follow-up. Call this tool as soon as you have at least a name and one contact detail (email or phone).",
        "workflowId": {
          "__rl": true,
          "value": "LEAD_CAPTURE_SUBWORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', 'Full name of the visitor', 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email address if provided', 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', 'Phone number if provided', 'string') }}",
            "company": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company', 'Company or business name', 'string') }}",
            "sector": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sector', 'Industry sector (real estate, restaurant, clinic, retail, etc)', 'string') }}",
            "challenge": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('challenge', 'Main business challenge or pain point they described', 'string') }}",
            "service_interest": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service_interest', 'Which Ziyada service they are interested in', 'string') }}",
            "source": "chat_widget"
          }
        }
      },
      "id": "lead-tool-005",
      "name": "capture_lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [660, 640]
    },
    {
      "parameters": {
        "name": "get_services_info",
        "description": "Use this tool to retrieve detailed information about Ziyada System services, pricing, or case studies when the visitor asks a specific question about a service. Returns structured service details.",
        "code": "// Returns detailed Ziyada services info based on query\nconst query = $fromAI('query', 'What specific service or information is being asked about', 'string');\n\nconst services = {\n  automation: {\n    ar: 'أنظمة أتمتة الأعمال: نربط واتساب + CRM (نظام إدارة العملاء) + إيميل + جداول بيانات في منظومة واحدة. كل رسالة تجيك، كل طلب، كل عميل — يتسجّل ويتابَع أوتوماتيك. نوفّر 80 ساعة شهرياً لكل عميل.',\n    en: 'Business Automation Systems: We connect WhatsApp + CRM + Email + spreadsheets in one smart system. Every message, request, or lead is automatically captured and followed up. We save clients 80 hours/month on average.',\n    sectors: 'Real estate, restaurants, clinics, retail, education',\n    timeline: '2-4 weeks for first delivery'\n  },\n  crm: {\n    ar: 'أنظمة إدارة العملاء والمبيعات: نبني HubSpot مخصص لشغلك — مسارات البيع، تذكيرات المتابعة، تصنيف العملاء. ما يضيع لك ولا صفقة.',\n    en: 'CRM & Sales Systems: We build a custom HubSpot setup — sales pipelines, automated follow-ups, lead scoring. No deal slips through the cracks.',\n    sectors: 'Professional services, consulting, B2B, retail',\n    timeline: '1-3 weeks'\n  },\n  leads: {\n    ar: 'اكتساب العملاء: ماكينة توليد عملاء B2B على LinkedIn + Google Ads مع تأهيل أوتوماتيك وإدخالهم HubSpot. نبني لك تدفق عملاء مستمر.',\n    en: 'Lead Generation: A B2B lead engine on LinkedIn + Google Ads with automatic qualification into HubSpot. We build you a steady stream of qualified prospects.',\n    sectors: 'Tech, consulting, professional services',\n    timeline: '3-6 weeks for first results'\n  },\n  marketing: {\n    ar: 'التسويق الأدائي: Google Ads + Meta Ads + SEO مرتبطة بالنتائج. كل ريال له عائد واضح. ما نشتغل على المشاهدات — نشتغل على العملاء الجادين.',\n    en: 'Performance Marketing: Google Ads + Meta Ads + SEO tied to real results. Every riyal spent has a measurable return.',\n    sectors: 'E-commerce, education, real estate',\n    timeline: 'First report after 2-3 weeks'\n  },\n  website: {\n    ar: 'المواقع الذكية: موقعك مو بس واجهة حلوة — مربوط بـ CRM (نظام إدارة العملاء) وأتمتة. كل زائر يتحوّل لعميل محتمل أوتوماتيك. بنينا 50+ موقع للشركات السعودية.',\n    en: 'Smart Websites: Not just a pretty interface — connected to CRM and automation. Every visitor becomes a potential lead automatically. 50+ websites built for Saudi businesses.',\n    sectors: 'All sectors',\n    timeline: '2-6 weeks depending on scope'\n  },\n  social: {\n    ar: 'أنظمة المحتوى: من الاستراتيجية للنشر للتقارير — منظومة محتوى تشتغل بدون ضغط عليك. ذكاء اصطناعي يساعد في إنتاج المحتوى، وجدول نشر منتظم.',\n    en: 'Content Systems: From strategy to publishing to reporting — a content engine that runs without stress. AI-assisted content production and a consistent publishing schedule.',\n    sectors: 'Retail, restaurants, consumer brands',\n    timeline: 'First content in week one'\n  }\n};\n\nreturn { services, query };"
      },
      "id": "services-tool-006",
      "name": "get_services_info",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [780, 640]
    },
    {
      "parameters": {
        "name": "book_consultation",
        "description": "Use this tool when a visitor explicitly says they want to book a consultation, schedule a meeting, or get a demo. Returns the booking link and available options.",
        "code": "// Returns booking information for the visitor\nconst visitorName = $fromAI('visitor_name', 'Name of the visitor if known', 'string');\nconst lang = $fromAI('lang', 'Language of the conversation: ar or en', 'string');\n\nif (lang === 'en') {\n  return {\n    booking_url: 'https://ziyadasystem.com/BookMeeting',\n    message: `Sure${visitorName ? ', ' + visitorName : ''}! You can book a free 15-minute consultation directly at:\\n\\n🔗 ziyadasystem.com/BookMeeting\\n\\nOr reach us by email:\\n📧 ziyadasystem@gmail.com\\n\\nThe team will get back to you within hours.`\n  };\n}\n\nreturn {\n  booking_url: 'https://ziyadasystem.com/BookMeeting',\n  message: `أبشر يا ${visitorName || 'غالي'}! تقدر تحجز استشارة مجانية 15 دقيقة مباشرة من:\\n\\n🔗 ziyadasystem.com/BookMeeting\\n\\nأو تتواصل معنا على الإيميل:\\n📧 ziyadasystem@gmail.com\\n\\nالفريق يتواصل معك خلال ساعات — ولا يهمك.`\n};"
      },
      "id": "booking-tool-007",
      "name": "book_consultation",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [900, 640]
    },
    {
      "parameters": {
        "name": "read_brand_guidelines",
        "description": "Use this tool when you need to reference Ziyada System's official tone of voice, brand writing guidelines, sales scripts by sector, or specific examples of how to write in the Ziyada style. Returns the full approved brand guidelines document from Google Drive.",
        "toolDescription": "Use this tool when you need to reference Ziyada System's official tone of voice, brand writing guidelines, sales scripts by sector, or specific examples of how to write in the Ziyada style. Returns the full approved brand guidelines document from Google Drive.",
        "method": "GET",
        "url": "https://docs.google.com/document/d/1o9vnMOJYqIte1zqGOWbW3OzfRAFmIPBqUHzLm2H9Y0E/export?format=txt",
        "sendHeaders": false,
        "sendQuery": false,
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      },
      "id": "gdrive-tool-008",
      "name": "read_brand_guidelines",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1020, 640]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "={{ JSON.stringify({ output: $('Ziyada AI Agent').item.json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-009",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          { "node": "Ziyada AI Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Ziyada AI Agent": {
      "main": [
        [
          { "node": "Respond to Chat", "type": "main", "index": 0 }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_memory", "index": 0 }
        ]
      ]
    },
    "capture_lead": {
      "ai_tool": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "get_services_info": {
      "ai_tool": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_tool", "index": 1 }
        ]
      ]
    },
    "book_consultation": {
      "ai_tool": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_tool", "index": 2 }
        ]
      ]
    },
    "read_brand_guidelines": {
      "ai_tool": [
        [
          { "node": "Ziyada AI Agent", "type": "ai_tool", "index": 3 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "instanceId": "ziyada-system",
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": ["ziyada", "chat", "ai-agent", "lead-generation", "website"]
}
