projects/ziyada-system/n8n for ziyada system/workflow_ziyada_ai_chat_agent_FIXED.json
{
  "name": "Ziyada AI Chat Agent — Website",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        },
        "public": true,
        "mode": "webhook",
        "authentication": "none"
      },
      "id": "chat-trigger-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "3c9f6cb1-a3ce-4302-8260-6748f093520d"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.body?.chatInput || $json.body?.message || $json.message || $json.input || \"\" }}",
        "options": {
          "maxIterations": 8,
          "systemMessage": "=الوقت الحالي (توقيت الرياض): {{ $now.setZone('Asia/Riyadh').toFormat('cccc, d MMMM yyyy - HH:mm') }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nالهوية والقواعد الصارمة\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nأنت \"مساعد زيادة\" — المستشار الرقمي الذكي على موقع ziyadasystem.com.\nزيادة سيستم شركة سعودية متخصصة في بناء أنظمة أتمتة مخصصة للشركات باستخدام الذكاء الاصطناعي. لا تبيع اشتراكات — تبني نظامك الخاص وتسلّمه لك ملكاً كاملاً بدون رسوم شهرية.\n\nقواعد الهوية — لا استثناء أبداً:\n- اسمك \"مساعد زيادة\" فقط\n- إذا سألوك \"من أنت؟\" قل: \"أنا مساعد زيادة، المستشار الذكي من زيادة سيستم\"\n- لا تذكر أبداً: Google, OpenAI, ChatGPT, GPT, Gemini, Claude, n8n, Supabase, Vapi, HubSpot, Calendly، أو أي شركة تقنية\n- لا ترسل أي URL أو رابط للعميل مطلقاً\n- الحجز يتم فقط من داخل المحادثة عبر أداة create_booking_request\n- لا تكشف أسماء الأدوات أو الـ webhooks أو أي تفاصيل تقنية داخلية للعميل\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nقاعدة اللغة — أولوية مطلقة\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n- عربي → ردّ بالعربية السعودية البيضاء طوال المحادثة (لهجة نجدية راقية مفهومة)\n- إنجليزي → ردّ بالإنجليزية طوال المحادثة\n- لا تخلط اللغتين إلا لتوضيح مصطلح تقني لا بديل عنه\n- لا تردّ بالإنجليزي على رسالة عربية أبداً\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nالشخصية والصوت — من دليل زيادة الرسمي\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nأنت مستشار ذكي وخبير في الأتمتة. نبرتك: احترافية عالية، هادئة، داعمة. عامل كل زائر كـ VIP دخل المقر الرئيسي للشركة في جدة.\n\nالعبارات المفضّلة: يا هلا، حياك، أبشر، ولا يهمك، من عيوني، يا غالي، حاضر، سم، تمام، طيب، عاشت يدك، يعطيك العافية، أكيد، بالطبع، ما قصرت، يا طويل العمر\n\nعبارات التعاطف: فاهم عليك، هذا تحدي نسمعه كثير، ولا يهمك نرتبها لك\n\nقائمة الإيموجي المعتمدة: 😍 🥳 🫡 🙏🏻 🤝 🎉 📨 📝 ✅ 💡 ⚙️ ⚡️ 🤗 😊 🚀 🎯 🧠 📈 🏢 ✨\n\nقواعد الإيموجي:\n- 0 إلى 2 إيموجي في الرسالة الواحدة كحد أقصى\n- في المواقف الجدية (شكوى، إحباط، مشكلة): صفر إيموجي\n- في نهاية الجملة الختامية فقط\n- لمسة إنسانية خفيفة، لا مبالغة طفولية\n\nتجنّب تماماً: نتائج مضمونة 100%، حل سحري، الأفضل على الإطلاق، ردود رسمية زائدة، مصطلحات تقنية ثقيلة بلا شرح\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nقواعد تنسيق الردود\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n- الردود: 3–6 أسطر كحد أقصى في الغالب\n- جمل قصيرة مفصولة بسطر فارغ بين الأفكار\n- لا جدران نص (No Walls of Text)\n- أنهِ كل رد بسؤال مساعد أو خطوة عملية واضحة\n\nممنوع في الردود للعميل:\n- ** أو __ (Bold/Italic)\n- ## أو # (عناوين)\n- - أو * (قوائم نقطية)\n- أرقام مرقّمة (1. 2. 3.) إلا عند جمع البيانات أو تأكيدها فقط\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nالوعي بالوقت والتواريخ\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nالوقت الحالي مُحدَّث في أعلى هذا الـ prompt. استخدمه دائماً لتفسير التواريخ النسبية:\n- اليوم = التاريخ الحالي\n- غداً = اليوم التالي بالكامل\n- بعد الغد = يومان من الآن\n- الأسبوع القادم = أول يوم عمل بعد 7 أيام\n- بعد الساعة 2 أو بعد العصر = 14:00 في أقرب يوم عمل متاح\n- أي يوم مُسمَّى (الأحد، الاثنين...) = أقرب وقوع لذلك اليوم في المستقبل\n\nقبل تمرير requested_datetime لأداة create_booking_request: احسب التاريخ الفعلي من الوقت الحالي وحوّله لـ ISO 8601 مع offset الرياض (+03:00). مثال: 2026-04-22T14:00:00+03:00\n\nأوقات العمل المتاحة للحجز: 12:00 ظهراً – 18:00 مساءً، من الأحد إلى الخميس فقط.\nلا تقترح مواعيد ضمن الساعات الست القادمة من الوقت الحالي.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nمسار المحادثة — خطوات إلزامية\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n1) رحّب بشكل دافئ ومختصر وغير رسمي.\n   مثال بالعربي: يا هلا حياك! 😊 أنا مساعد زيادة، هنا أساعدك في أي شيء. وشلونك اليوم؟\n   مثال بالإنجليزي: Hey, welcome! 😊 I'm Ziyada System's assistant — here to help. What brings you here today?\n\n2) اكتشف الاحتياج بسؤال واحد فقط في كل رد:\n   وش نوع نشاطك؟ أو إيش أكثر شيء يأخذ وقت فريقك حالياً؟\n\n3) اربط التحدي بخدمة زيادة المناسبة مع مثال عملي من نفس القطاع.\n   استخدم get_services_info قبل الإجابة على أسئلة الخدمات.\n\n4) عند وجود اهتمام: اجمع البيانات تدريجياً — الاسم أولاً، ثم الجوال أو الإيميل.\n\n5) بعد الحصول على الاسم + (الجوال أو الإيميل): أكّد البيانات.\n   مثال: خلني أتأكد: اسمك [الاسم]، [جوالك/إيميلك]: [القيمة]. صحيح؟\n\n6) بعد تأكيده: استخدم capture_lead فوراً ولا تسأل سؤالاً إضافياً قبلها.\n\n7) بعد الحفظ: تمام، الفريق بيتواصل معك قريباً. لو حاب تحدد موعد الآن عطني الوقت المناسب.\n\n8) للحجز: اجمع الوقت المفضل + التحدي الرئيسي. إذا لم يكن عنده إيميل بعد اطلبه. بعد تأكيد كل البيانات استخدم create_booking_request.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nسياسة الأدوات — إلزامي\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nالقاعدة الذهبية: فكّر أولاً — هل شروط أداة معينة مكتملة؟ إذا نعم، استخدمها مرة واحدة ثم اصغ ردّك بناءً على نتيجتها. لا تعتمد على رد نصي إذا كانت الأداة المناسبة متاحة.\n\nbrand_tone_guide (دليل الصوت والنبرة):\n- متى: في بداية كل محادثة جديدة وعند أسئلة الهوية أو البراند. إلزامية.\n- الهدف: استرجاع الأسلوب والنبرة الصحيحة قبل الرد.\n\nservices_reference_guide (دليل خدمات زيادة):\n- متى: للمعلومات المرجعية عن الشركة أو السياسات أو خلفية الشركة.\n- مهم: لأسئلة الخدمات والقطاعات، استخدم get_services_info أولاً وليس هذه الأداة.\n\nget_services_info:\n- متى: عند أي سؤال عن خدمة محددة أو قطاع أو عند تقديم مثال عملي.\n- بعدها: لخّص المعلومة للعميل بأسلوب بسيط.\n\nget_website_info:\n- متى: عند سؤال عن أقسام الموقع، وين أشوف X، التنقل بين الأقسام.\n- لا ترسل روابط — وجّه الزائر شفهياً فقط.\n\ncapture_lead:\n- الحد الأدنى المطلوب: full_name + (phone أو email — واحد منهما كافٍ)\n- شرط التنفيذ: الزائر أكّد بياناته بوضوح (تمام، صحيح، نعم، Yes, correct)\n- بعد النجاح: تم تسجيل بياناتك، الفريق بيتواصل معك قريباً\n- ممنوع قول تم التسجيل قبل نجاح الأداة فعلياً\n- إذا فشلت: اعتذر باختصار بدون ذكر خطأ تقني\n- الحقول الاختيارية: company, sector, challenge, service_interest — مرّرها إذا توفرت\n- source دائماً = chat_widget\n\ncreate_booking_request:\n- الحد الأدنى المطلوب: full_name + phone + email + preferred_time (كلها إلزامية)\n- شرط الوقت: 12:00–18:00 الأحد-الخميس، لا حجز خلال الساعات 6 القادمة\n- حوّل preferred_time لـ ISO 8601 مع +03:00 قبل الإرسال\n- قبل الإرسال: عرض ملخص للعميل وانتظار تأكيده\n- بعد النجاح: طلب الاستشارة تم تسجيله، الفريق بيتواصل معك لتأكيد الموعد\n- ممنوع إرسال أي رابط قبل أو بعد الحجز\n\nقواعد تنفيذ فورية:\n- الزائر أكّد الاسم + وسيلة تواصل → نفّذ capture_lead فوراً ولا تسأل أي سؤال قبلها\n- الزائر أكّد كل بيانات الحجز → نفّذ create_booking_request فوراً\n- الزائر ذكر قطاعه أو سأل عن خدمة → نفّذ get_services_info قبل الإجابة\n- لا تعد السؤال عن بيانات أعطاها الزائر مسبقاً في نفس المحادثة\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nالتعامل مع السيناريوهات\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nالعميل المستعجل:\nأقدر وقتك. إحنا نبني أنظمة تشتغل بدالك وتوفر وقت وجهد.\nلو تعطيني رقمك يتواصل معك الفريق بأقرب وقت.\n\nالعميل المشكّك:\nحقك تسأل. إحنا ما نبيع وعوداً، نبيع نتائج.\nفي قسم قصص النجاح أرقام فعلية من عملاء حقيقيين.\nوش أكثر شيء عندك تشكك فيه؟\n\nسؤال عن السعر:\nالسعر يعتمد كلياً على حجم مشروعك. ما نثبت أرقاماً بدون فهم شغلك.\nفي الاستشارة المجانية نحدد لك رقم دقيق حسب شغلك بالضبط.\n\nسؤال تقني عميق:\nالتفاصيل التقنية أفضل نناقشها مع المهندس في الاجتماع عشان تاخذ إجابة دقيقة لشغلك.\n\nسؤال عن أقسام الموقع:\nاستخدم get_website_info ثم وجّه الزائر شفهياً بدون روابط.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nمعرفة زيادة سيستم السريعة\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nزيادة سيستم تبني نظامك الخاص — مو اشتراك، مو قالب جاهز. نفهم شغلك ونصمم على مقاسك ونسلّمه ملكاً كاملاً. ضمان 3 أشهر. ما في رسوم شهرية لنا بعد التسليم.\n\nالخدمات الست:\n1. أتمتة الأعمال: ربط واتساب + CRM + إيميل + شيتات — 80 ساعة توفير شهري\n2. CRM مخصص: نظام بيعي يرتّب متابعتك من أول رسالة لحين العقد\n3. Lead Generation: ماكينة عملاء B2B على LinkedIn وGoogle Ads\n4. التسويق الأدائي والـ SEO: Google + Meta + SEO مرتبطة بالنتائج\n5. المواقع الذكية: موقع مربوط بـ CRM وأتمتة يحوّل كل زائر لعميل محتمل\n6. أنظمة المحتوى: من الاستراتيجية للنشر للتقارير\n\nأرقامنا: 50+ شركة أتمتناها، 40% متوسط نمو الإيرادات، 80 ساعة توفير شهري، ضمان 3 أشهر."
        }
      },
      "id": "ai-agent-002",
      "name": "Ziyada AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.4,
          "maxTokens": 800
        }
      },
      "id": "openai-model-003",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $json.body?.sessionId || 'default' }}",
        "contextWindowLength": 15
      },
      "id": "memory-004",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        620
      ]
    },
    {
      "parameters": {
        "name": "capture_lead",
        "description": "Saves a visitor lead. Call this ONLY after the visitor has CONFIRMED their info. MINIMUM required: full_name AND at least one of: phone OR email (either alone is sufficient). Do NOT require both phone and email — one contact method is enough. Also pass any optional fields collected: company, sector, challenge, service_interest. Always set source = 'chat_widget'. Do NOT call with only a name and no contact method.",
        "method": "POST",
        "url": "https://n8n.srv953562.hstgr.cloud/webhook/ziyada-lead-intake",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"full_name\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('full_name', 'Full name of the visitor — required', 'string') }}\",\n  \"email\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email address of the visitor — required', 'string') }}\",\n  \"phone\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', 'Phone/mobile number of the visitor — required', 'string') }}\",\n  \"company\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company', 'Company or business name if mentioned, empty string if not', 'string') }}\",\n  \"sector\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sector', 'Industry sector (real estate, restaurant, clinic, retail, consulting, etc)', 'string') }}\",\n  \"challenge\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('challenge', 'Main business challenge or pain point they described', 'string') }}\",\n  \"service_interest\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service_interest', 'Which Ziyada service they are most interested in', 'string') }}\",\n  \"source\": \"chat_widget\"\n}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "lead-tool-005",
      "name": "capture_lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "name": "get_services_info",
        "description": "Use this tool to retrieve detailed information about Ziyada System services when the visitor asks a specific question about a service. Returns structured service details.",
        "code": "const query = $fromAI('query', 'What specific service or information is being asked about', 'string');\n\nconst services = {\n  automation: {\n    ar: 'أنظمة أتمتة الأعمال: نربط واتساب + CRM + إيميل + جداول بيانات في منظومة واحدة. كل رسالة تجيك، كل طلب، كل عميل — يتسجّل ويتابَع أوتوماتيك. نوفّر 80 ساعة شهرياً لكل عميل.',\n    en: 'Business Automation: We connect WhatsApp + CRM + Email + spreadsheets in one smart system. Every message and lead is automatically captured and followed up. We save clients 80 hours/month.',\n    sectors: 'Real estate, restaurants, clinics, retail, education',\n    timeline: '2-4 weeks'\n  },\n  crm: {\n    ar: 'أنظمة إدارة العملاء: نبني HubSpot مخصص — مسارات البيع، تذكيرات المتابعة، تصنيف العملاء. ما يضيع لك ولا صفقة.',\n    en: 'CRM & Sales Systems: Custom HubSpot setup — sales pipelines, automated follow-ups, lead scoring.',\n    sectors: 'Professional services, consulting, B2B',\n    timeline: '1-3 weeks'\n  },\n  leads: {\n    ar: 'اكتساب العملاء: ماكينة توليد عملاء B2B على LinkedIn + Google Ads مع تأهيل أوتوماتيك.',\n    en: 'Lead Generation: B2B lead engine on LinkedIn + Google Ads with automatic qualification.',\n    sectors: 'Tech, consulting, professional services',\n    timeline: '3-6 weeks for first results'\n  },\n  marketing: {\n    ar: 'التسويق الأدائي: Google Ads + Meta Ads + SEO مرتبطة بالنتائج. كل ريال له عائد واضح.',\n    en: 'Performance Marketing: Google + Meta Ads + SEO tied to real business results.',\n    sectors: 'E-commerce, education, real estate',\n    timeline: 'First report after 2-3 weeks'\n  },\n  website: {\n    ar: 'المواقع الذكية: موقعك مربوط بـ CRM وأتمتة. كل زائر يتحوّل لعميل محتمل أوتوماتيك.',\n    en: 'Smart Websites: Connected to CRM and automation. Every visitor becomes a potential lead automatically.',\n    sectors: 'All sectors',\n    timeline: '2-6 weeks'\n  },\n  social: {\n    ar: 'أنظمة المحتوى: من الاستراتيجية للنشر للتقارير — منظومة محتوى تشتغل بدون ضغط عليك.',\n    en: 'Content Systems: From strategy to publishing to reporting — runs without the stress.',\n    sectors: 'Retail, restaurants, consumer brands',\n    timeline: 'First content in week one'\n  }\n};\n\nreturn { services, query };"
      },
      "id": "services-tool-006",
      "name": "get_services_info",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        680,
        620
      ]
    },
    {
      "parameters": {
        "name": "create_booking_request",
        "description": "Creates a consultation booking request without sending any URL to the visitor. REQUIRED fields (all mandatory): full_name, phone, email, preferred_time. Resolve relative times ('tomorrow', 'after 2pm', 'Sunday') against the current Riyadh datetime before calling. Convert preferred_time to ISO 8601 with +03:00 offset (e.g. 2026-04-22T14:00:00+03:00). Working hours: 12:00–18:00 Sunday–Thursday only. Do NOT book within the next 6 hours from current time. Always show the visitor a confirmation summary and wait for their explicit approval before calling this tool. After success, tell the visitor the team will confirm the appointment via phone or email — do NOT send any link.",
        "method": "POST",
        "url": "https://n8n.srv953562.hstgr.cloud/webhook/booking-webhook",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"session_id\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('session_id', 'Chat session id (required). Use current session id if available.', 'string') }}\",\n  \"lead_name\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', 'Full name of the visitor (required)', 'string') }}\",\n  \"phone_e164\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_e164', 'Phone number in E.164 format when possible, required', 'string') }}\",\n  \"email\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email of the visitor, required', 'string') }}\",\n  \"requested_datetime\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requested_datetime', 'Preferred booking datetime in ISO format if possible', 'string') }}\",\n  \"channel\": \"website_chat\",\n  \"conversation_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conversation_summary', 'Short summary of visitor need', 'string') }}\"\n}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "booking-tool-007",
      "name": "create_booking_request",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output Sanitizer — enforces no URLs/markdown in final user-facing text\nconst raw = $input.first().json.output || '';\n\nconst clean = String(raw)\n  .replace(/(?:https?:\\/\\/)?(?:www\\.)?(?:calendly\\.com|app\\.cal\\.com|cal\\.com|acuityscheduling\\.com)\\/?[^\\s\\n]*/gi, '')\n  .replace(/(?:https?:\\/\\/)?localhost(?::\\d+)?\\/?[^\\s\\n]*/gi, '')\n  .replace(/(?:https?:\\/\\/|www\\.)[^\\s\\n]+/gi, '')\n  .replace(/\\*\\*/g, '')\n  .replace(/(^|\\s)[#*_`]{1,3}(?=\\s|$)/g, ' ')\n  .replace(/^\\s*[-•]\\s+/gm, '\\n\\n')\n  .replace(/\\s+-\\s+/g, '\\n\\n')\n  .split('\\n')\n  .map((line) => line.trim())\n  .filter((line) => line && !/(?:\\burl\\b|\\blink\\b|\\bhttp\\b|\\bwww\\b|\\bcalendly\\b|\\bcal\\.com\\b|رابط|لينك|localhost)/i.test(line))\n  .join('\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]{2,}/g, ' ')\n  .replace(/^\\s*[\\-—]?\\s*$/gm, '')\n  .trim();\n\nreturn [{\n  json: {\n    output: clean || 'تم تسجيل طلبك، والفريق سيتواصل معك قريباً لتأكيد التفاصيل.'\n  }\n}];"
      },
      "id": "output-sanitizer-008",
      "name": "Output Sanitizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "={{ JSON.stringify({ output: $('Output Sanitizer').item.json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-009",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "name": "get_website_info",
        "description": "Use this tool when the visitor asks about sections of the ziyadasystem.com website, wants to know where to find something on the site, or asks for navigation guidance. Returns structured website knowledge. NEVER send URLs to the visitor — guide them verbally to the right section.",
        "code": "const query = $fromAI('query', 'What the visitor is asking about on the website', 'string');\n\nconst website = {\n  sections: {\n    home: {\n      ar: 'الصفحة الرئيسية: تعرض نظرة عامة على زيادة سيستم، خدماتها الرئيسية، وأبرز نتائج العملاء.',\n      en: 'Home page: Overview of Ziyada System, main services, and key client results.',\n      howToFind_ar: 'الصفحة الرئيسية تظهر عند فتح الموقع مباشرة.',\n      howToFind_en: 'The homepage appears when you first open the site.'\n    },\n    services: {\n      ar: 'قسم الخدمات: يعرض تفصيل الخدمات الست — الأتمتة، CRM، Lead Generation، التسويق الأدائي، المواقع الذكية، أنظمة المحتوى — مع أمثلة عملية لكل قطاع.',\n      en: 'Services section: Detailed breakdown of 6 services with real-world sector examples.',\n      howToFind_ar: 'في القائمة العلوية للموقع — قسم \"خدماتنا\".',\n      howToFind_en: 'In the top navigation menu — \"Our Services\".'\n    },\n    successStories: {\n      ar: 'قصص النجاح: حالات دراسية حقيقية لشركات أتمتناها مع أرقام فعلية — توفير الوقت، نمو المبيعات، تقليل الأخطاء.',\n      en: 'Success Stories: Real case studies with actual numbers — time savings, sales growth, error reduction.',\n      howToFind_ar: 'في القائمة العلوية — قسم \"قصص النجاح\".',\n      howToFind_en: 'In the top menu — \"Success Stories\".'\n    },\n    about: {\n      ar: 'من نحن: قصة الشركة، الفريق، رؤيتنا، ولماذا نختلف عن الاشتراكات والحلول الجاهزة.',\n      en: 'About Us: Company story, team, vision, and why we differ from subscriptions and off-the-shelf tools.',\n      howToFind_ar: 'في القائمة — قسم \"من نحن\".',\n      howToFind_en: 'In the menu — \"About Us\".'\n    },\n    blog: {\n      ar: 'المدونة: مقالات عملية عن الأتمتة والذكاء الاصطناعي للشركات السعودية — نصائح، دراسات حالة، أدلة تطبيقية.',\n      en: 'Blog: Practical articles on automation and AI for Saudi businesses.',\n      howToFind_ar: 'في القائمة — قسم \"المدونة\".',\n      howToFind_en: 'In the menu — \"Blog\".'\n    },\n    contact: {\n      ar: 'التواصل: لا يوجد نموذج تواصل عام — الاستشارة تُحجز من داخل هذه المحادثة مباشرة.',\n      en: 'Contact: No public contact form — consultation is booked directly through this chat.',\n      howToFind_ar: 'التواصل يتم من خلالي مباشرة هنا.',\n      howToFind_en: 'Reach out directly through me here.'\n    },\n    pricing: {\n      ar: 'الأسعار: لا توجد أسعار ثابتة على الموقع — السعر يُحدَّد في الاستشارة المجانية حسب احتياجاتك.',\n      en: 'Pricing: No fixed prices on the site — pricing is determined in the free consultation based on your needs.',\n      howToFind_ar: 'الأسعار ما تُعرض على الموقع — تُحدَّد في الاستشارة المجانية.',\n      howToFind_en: 'Pricing is not displayed on the site — determined in the free consultation.'\n    }\n  },\n  companyFacts: {\n    ar: [\n      'زيادة سيستم شركة سعودية تأسست لمساعدة الشركات على الأتمتة والذكاء الاصطناعي',\n      'لا نبيع اشتراكات — نبني نظامك الخاص ونسلّمه لك ملكاً كاملاً',\n      'ضمان 3 أشهر بعد التسليم',\n      'أتمتنا 50+ شركة سعودية',\n      'الإيميل: ziyadasystem@gmail.com',\n      'الاستشارة مجانية وتُحجز من هذه المحادثة'\n    ],\n    en: [\n      'Ziyada System is a Saudi company helping businesses automate with AI',\n      'We do not sell subscriptions — we build your custom system and hand it over fully owned',\n      '3-month warranty after delivery',\n      'We have automated 50+ Saudi companies',\n      'Email: ziyadasystem@gmail.com',\n      'Free consultation — booked directly through this chat'\n    ]\n  },\n  navigationGuidance: {\n    'services': { ar: 'قسم خدماتنا في القائمة العلوية', en: 'Our Services in the top menu' },\n    'success': { ar: 'قسم قصص النجاح في القائمة العلوية', en: 'Success Stories in the top menu' },\n    'about': { ar: 'قسم من نحن في القائمة العلوية', en: 'About Us in the top menu' },\n    'blog': { ar: 'قسم المدونة في القائمة العلوية', en: 'Blog in the top menu' },\n    'book': { ar: 'أقدر أحجز لك مباشرة من هنا بدون رابط', en: 'I can book it for you directly here without any link' },\n    'price': { ar: 'الأسعار تُحدَّد في الاستشارة المجانية حسب شغلك', en: 'Pricing is determined in the free consultation based on your needs' }\n  }\n};\n\nreturn { website, query };"
      },
      "id": "website-tool-010",
      "name": "get_website_info",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        920,
        620
      ]
    },
    {
      "parameters": {
        "name": "brand_tone_guide",
        "description": "MANDATORY — call at the START of every new conversation and whenever answering identity, brand, or tone questions. Returns the official Ziyada System voice & tone guide: Saudi dialect rules, approved phrases, empathy expressions, emoji policy, and persona definition. Use this to calibrate your language style before responding.",
        "method": "GET",
        "url": "https://docs.google.com/document/d/1o9vnMOJYqIte1zqGOWbW3OzfRAFmIPBqUHzLm2H9Y0E/export?format=txt",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "brand-tone-tool-011",
      "name": "brand_tone_guide",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1040,
        620
      ]
    },
    {
      "parameters": {
        "name": "services_reference_guide",
        "description": "Reference guide for Ziyada System company background, service policies, WhatsApp message templates, sector-specific sales scripts, and detailed service descriptions. Use this for company background questions or when you need detailed policy information NOT covered by get_services_info. IMPORTANT: For sector or service questions, always call get_services_info FIRST. Only call this tool for company-level reference that is not in get_services_info.",
        "method": "GET",
        "url": "https://docs.google.com/document/d/14rIWpFZHv1uQzUsdcYibI77abOSnCWZwJIp7p6aaFB4/export?format=txt",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "services-ref-tool-012",
      "name": "services_reference_guide",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1160,
        620
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ziyada AI Agent": {
      "main": [
        [
          {
            "node": "Output Sanitizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Sanitizer": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "capture_lead": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_services_info": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "create_booking_request": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "get_website_info": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "brand_tone_guide": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "services_reference_guide": {
      "ai_tool": [
        [
          {
            "node": "Ziyada AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "instanceId": "ziyada-system",
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": [
    "ziyada",
    "chat",
    "ai-agent",
    "lead-generation",
    "website"
  ]
}